[2017-11-10 21:17] abhisheksinha89 opened #5 "Fix test_ensure_other_create_error on windows"
This test fails on windows OS as the directory is created by it instead of raising an OSError exception.

[2017-11-13 23:32] abhisheksinha89 opened #8 "Add special commands support to mssql-cli"

[2017-11-14 22:13] abhisheksinha89 opened #9 "Add list_databases command to mssql-cli"

[2017-11-14 22:25] abhisheksinha89 opened #10 "Investigate if query.path_changed is required for mssql-cli"

[2017-11-14 23:35] abhisheksinha89 opened #11 "Pytest 3.2.4 dependency on py 1.5 causing test failing requirements"

[2017-11-15 19:53] abhisheksinha89 opened #13 "Try and leverage some tests from test_pgexecute for our mssqlcliclient"

[2017-11-16 22:17] yualan opened #16 "Tests should be schema agnostic"

[2017-11-16 22:20] yualan opened #17 "Security Review"
Threat model

[2017-11-16 22:20] yualan opened #18 "Privacy Review"

[2017-11-16 22:21] yualan opened #19 "Auto-completion : Add consistent quotes"

[2017-11-16 22:23] yualan opened #20 "Update pgcli tests to target mssql-cli"

[2017-11-16 22:23] yualan opened #21 "Refactor code base to mssql-cli"

[2017-11-16 22:23] yualan opened #22 "Documentation-Development guide"

[2017-11-16 22:23] yualan opened #23 "Telemetry pipeline"

[2017-11-16 22:25] yualan opened #24 "Self-contained pip packages"

[2017-11-16 22:25] yualan opened #25 "macOS build agent support"

[2017-11-16 22:25] yualan opened #26 "Documentation-Usage guide"

[2017-11-16 22:25] yualan opened #27 "Telemetry-Disclosure Document"

[2017-11-16 22:26] yualan opened #28 "Installation guide"

[2017-11-16 22:28] yualan opened #29 "Syntax highlighting"
Highlights with proper SQL Server syntax

[2017-11-16 22:29] yualan opened #30 "Logging infrastructure"
mssql-cli logs
sqltoolsservice logs

command line parameters to both

[2017-11-16 22:30] yualan opened #31 "configuration file support"

[2017-11-16 22:30] yualan opened #32 "blog / social media amplification"

[2017-11-18 06:13] meeuw opened #35 "update MANIFEST.in"
Hi, it seems `MANIFEST.in` is missing some files:
- `/tests` (/test is included by defauls)
- `/sqltoolsservice`
- `/utility.py`
- `/dos2unix.py`
- `/build.py`

I'd suggest to move these Python scripts to a separate package, for example `utility.py` will be installed to `/usr/lib/python3.6/site-packages/utility.py` ...

[2017-11-20 19:04] yualan opened #36 "Finalize PyPI installation"
- Ensure we keep older versions for Sean's users
- Update name to have - instead of _

[2017-11-21 18:59] MrMeemus opened #38 "Telemetry-Add instrumentation via appinsights"
Integrate app insights python package to instrument key events.

[2017-11-21 19:02] MrMeemus opened #39 "Telemetry-Set up Sangam job"

[2017-11-21 19:04] MrMeemus opened #40 "Telemetry-Set up ADF"
Set up:

- ADF Datasets
- ADF Pipeline

[2017-11-21 19:04] MrMeemus opened #41 "Telemetry-Set up reporting in Power BI"

[2017-11-21 19:07] MrMeemus opened #42 "Telemetry-Add User opt out option"

[2017-11-21 23:41] MrMeemus opened #44 "Telemetry-Add telemetry default file support"

[2017-11-28 03:05] #25 closed, assigned to abhisheksinha89

[2017-11-28 19:29] abhisheksinha89 opened #47 "Add smart completion to mssql-cli"

[2017-11-28 22:38] #16 closed, assigned to nobody

[2017-11-28 22:39] #24 closed, assigned to MrMeemus

[2017-11-28 23:09] #31 closed, assigned to abhisheksinha89

[2017-11-30 00:30] yualan opened #48 "Size of History File"
For auto-completion history, set a cutoff for certain size.

[2017-11-30 00:31] yualan opened #49 "Ability to turn off saving of auto-completion history file"

[2017-11-30 18:38] MrMeemus opened #50 "Telemetry-Extend AppInsights to strip '[' ']'"

[2017-11-30 23:04] yualan opened #52 "Review all licenses (no MIT)"

[2017-12-01 00:34] abhisheksinha89 opened #53 "Review all license headers; should not be MIT"

[2017-12-01 00:53] #21 closed, assigned to abhisheksinha89

[2017-12-01 00:53] abhisheksinha89 opened #54 "Fit and finish codebase"

[2017-12-01 19:28] pensivebrian opened #55 "Update CLI Helpers to v1.0.1"

[2017-12-01 19:49] abhisheksinha89 opened #56 "Build wheels on agents for each platform"

[2017-12-01 19:50] #53 closed, assigned to nobody

[2017-12-01 22:40] yualan opened #58 "Channel9 Video"
Looking to do after smart-completion is complete, 2nd or 3rd week of January https://microsoft.sharepoint.com/teams/Channel9/Pages/Calendar.aspx to book time.

[2017-12-03 17:51] amjith opened #60 "Fails to connect"
I installed mssql-server and launched it in a separate window.

I installed the mssql-cli from git using `pip install -e .` and then ran `python dev_setup.py` from the project root.

When I launch mssql-cli and type in a password I get the following error:

[code]

Here is a traceback from the log file:
[code]

I'm trying this out on Fedora Linux.
Python 3.5.4

[2017-12-04 18:11] amjith opened #61 "Connection did not succeed."
I tried this on my Mac laptop with MSSql-Server running in a docker container.

I get the following error:

[code]

The client is installed from source using `pip install -e .`.

[2017-12-04 19:10] MrMeemus opened #62 "Localization- Set privacy statement link based on locale."

[2017-12-05 03:47] #18 closed, assigned to nobody

[2017-12-05 13:42] #61 closed, assigned to abhisheksinha89

[2017-12-05 13:43] #60 closed, assigned to abhisheksinha89

[2017-12-05 19:45] #50 closed, assigned to MrMeemus

[2017-12-05 19:45] #44 closed, assigned to MrMeemus

[2017-12-05 19:45] #42 closed, assigned to MrMeemus

[2017-12-05 19:45] #38 closed, assigned to MrMeemus

[2017-12-05 19:45] #39 closed, assigned to MrMeemus

[2017-12-05 19:45] #27 closed, assigned to MrMeemus

[2017-12-06 18:49] abhisheksinha89 opened #65 "Document setproctitle for Python 3.6 installation error"
if Python.h file not found need to install python3-dev package

[2017-12-06 19:37] #65 closed, assigned to abhisheksinha89

[2017-12-06 23:09] yualan opened #68 "Microsoft docker hub image containing mssql-cli"

[2017-12-06 23:44] #41 closed, assigned to MrMeemus

[2017-12-06 23:45] #40 closed, assigned to MrMeemus

[2017-12-07 22:20] MrMeemus opened #71 "Prompt hangs when submitting a bad SQL Statement"
Not sure if this is a toolsservice issue, but issuing the following statement:
`Create Schema [Sampl` causes the tool to hang.

[2017-12-08 17:19] pensivebrian opened #77 "Running 'mssql-cli -h localhost -I' still prompts for a user"
Using the -I option should use integrated auth, which should use the current users credentials and not prompt.

[2017-12-08 23:55] yualan opened #81 "Review installation guide"
Specifically updating:
- CentOS
https://user-images.githubusercontent.com/30873802/33789808-1da8cff6-dc30-11e7-9ea5-3869938caa88.png

- RHEL 7.3
![image](https://user-images.githubusercontent.com/30873802/33789807-199f8364-dc30-11e7-8808-c05ffadec564.png)

[2017-12-09 21:11] MrMeemus opened #82 "Look into removing or downgrading 'six' dependency"
Certain OS versions of Mac have a lower version six preinstalled. During install Pip will try to uninstall the current version to install our updated one. This is not permitted and will result in a failed installation.

Investigate if we can either remove the dependency or downgrade.

[2017-12-09 21:31] amjith opened #83 "Publish a brew formula for mssql-cli"
Both `pgcli` and `mycli` have brew formulae published.

pgcli: https://github.com/Homebrew/homebrew-core/blob/master/Formula/pgcli.rb
mycli: https://github.com/Homebrew/homebrew-core/blob/master/Formula/mycli.rb

Is there an interest in doing this?

[2017-12-10 16:27] #77 closed, assigned to abhisheksinha89

[2017-12-10 16:28] #71 closed, assigned to nobody

[2017-12-10 16:28] #56 closed, assigned to nobody

[2017-12-11 19:23] abhisheksinha89 opened #84 "Handle Cancel Query robustly"
OS: OSX 10.13.1

Matthews-MBP:vscode-mssql mairvine$ mssql-cli -h mairvine-pc
Username (press enter for sa):
Password:
Version: 0.6.0
Mail: sqlcli@microsoft.com
Home: http://github.com/dbcli/mssql-cli
master>waitfor delay '00:00:10'
^CCancelling query...
Query cancelled.
master>waitfor delay '00:00:15'
^CCancelling query...
Traceback (most recent call last):
  File "/Library/Frameworks/Python.fram

[2017-12-11 23:21] #32 closed, assigned to yualan

[2017-12-12 01:36] abhisheksinha89 opened #89 "Virtual environment info doc missing."
This is referenced by the Installation guide and this doc is not yet published leading to a 404 error navigating from the Installation guide.

[2017-12-12 20:40] DaveDustin opened #92 "--help text mentions postgres"
If you display help information, the descriptive information for -U states

[2017-12-12 22:05] MrMeemus commented on #92
@DaveDustin Thanks for find! We will have this fixed in our next release.

[2017-12-12 23:36] pensivebrian commented on #92
Fixed with commit beeb296d57dfea40a7eac6921ab383a433a2ef2a.

[2017-12-12 23:47] EvanCarroll opened #93 "Support DAC"
I don't see the `-A` working which is the option on the Microsoft platform for sqlcmd.exe, nor do I see the `admin:localhost` syntax which is the method of connecting to DAC on sqlcmd.exe on Linux. Is there going to be support for that method?

[2017-12-12 23:58] #20 closed

[2017-12-12 23:58] #22 closed

[2017-12-12 23:58] #26 closed

[2017-12-12 23:58] #36 closed

[2017-12-12 23:58] #19 closed

[2017-12-12 23:58] #28 closed

[2017-12-12 23:58] #23 closed

[2017-12-13 00:20] #54 closed

[2017-12-13 00:22] #17 closed

[2017-12-13 00:44] pensivebrian commented on #93
Thanks for filing this issue. We'll look into adding support for DAC connections, and will update this issue when we have a timeline for the fix.

[2017-12-13 02:46] MightyPen opened #94 "Better prompt option, like $_ in cmd.exe"
In Windows cmd.exe, by default the prompt is pushed far from the left edge, by display of the directory path. This is awkward and ugly to the eye, as commands of modest length must wrap to the next line.
Not enough people know about the $_ option a cmd.exe window (or in System Environment variables), as in:

The above 'set' command changes the prompt from a single line to a double line, due to $_.

[2017-12-13 04:29] MrMeemus commented on #92
Fix has been released in 0.8.0. Thanks!

[2017-12-13 04:29] #92 closed

[2017-12-13 05:21] zayscue opened #95 "A query is already in progress for this editor session"
I'm running the latest release on windows 10 and when every I try to run a query on either single or multi line mode the only message I get is as follows, "A query is already in progress for this editor session. Please cancel this query or wait for its completion."  The problem is that I don't no other queries running.

[2017-12-13 09:34] mi-hol opened #96 "add support for ODBC connections"
Please add support for ODBC connections. This would make this great tool even much more useful!

Many companies migrate from ORACLE now to SQLserver, a cli  that works with both 'worlds' would ease the training burden, enable a steep learning curve and would help in general by making the migration process more smoothly.

[2017-12-13 13:52] gerardog opened #97 "Python 2 or 3?"
Installation guide does not specify which python version should I use.

Thanks

[2017-12-13 13:59] amjith commented on #97
It works on both. Make sure you're using python 2.7 or above.

[2017-12-13 14:18] Jaxelr commented on #97
Thanks, ideally the installation guide could specify it?

[2017-12-13 14:29] Jaxelr opened #98 "Windows 7 is not supported: Not enough memory errors and no result sets"
Current OS: Windows 7 enterprise
Python Version:  3.6.3
Pip Version: 9.0.1
RAM: 16 Gigs.

As seen in the screenshot, the steps which i followed were:

1. connected to instance
2.  Ran a Select for a table with 3 records and got an error message of Not enough memory.
3. Ran a Select TOP 1 for a table with 3 records and got an error message of Not enough memory.

![image 17](https://user-images.gith

[2017-12-13 14:30] AirborneGeek opened #99 "Minor update to Installation Guide"
For the pip installation on Windows, the command box needs to be running as admin for the installation to complete; this isn't mentioned in the docs (just says "open a command prompt").

[2017-12-13 14:37] gerardog opened #100 "Windows: Does not supports SQL Aliases"
I have a SQL alias configured in SQL Server Configuration Manager.
The alias is named "SqlAlias" and redirects to ".\MSSQLSERVER2016"

The following line fails to connect: mssql-cli.bat -E -S SqlAlias
On the other hand, using the natural name works fine: mssql-cli.bat -E -S .\MSSQLSERVER2016

[2017-12-13 14:50] pensivebrian commented on #97
Yes, this should be in the installation guide. I've add a note about this with commit 207cc9a31be5a6a1f037edfcf405e39724e3b680. Thanks for reporting.

[2017-12-13 14:50] #97 closed

[2017-12-13 14:51] yooakim opened #101 ""/usr/bin/python: No module named mssqlcli""
I've followed the installation instructions and when I try to run `mssql-cli` I get the subject error message.

Installation went OK so I am not sure what is wrong? I'm using Ubuntu 17.10

[code]

[2017-12-13 14:54] yooakim commented on #101
My bad, it says in the docs you need to ensurfe you have the correct Pythin env setup.

[2017-12-13 15:09] pensivebrian commented on #99
If you installed python to your program files directory, then yes, admin permission are required. A note about this in the docs would be helpful. I'll make a doc update later today.

[2017-12-13 17:14] MrMeemus commented on #95
@zayscue what kind of Server and DB are you targeting?

[2017-12-13 17:22] zayscue commented on #95
Microsoft SQL Server 2014 - 12.0.4100.1 (X64)   Apr 20 2015 17:29:27   Copyright (c) Microsoft Corporation  Developer Edition (64-bit) on Windows NT 6.3 <X64> (Build 9600: ) (Hypervisor)

[2017-12-13 18:42] pensivebrian commented on #100
@gerardog - this is an interesting issue.

Currently, mssql-cli does not support the SQL Alias feature. The reason being, it's not supported by .NET Core, which is what mssql-cli uses to connect to a database (via the [SqlToolsService](https://github.com/Microsoft/sqltoolsservice)). Since SQL Alias relies on the registry, it's not a cross platform feature, so I can see why the feature was dropped

[2017-12-13 18:45] talkingdotnet opened #102 "It seems Set Default Row Limit Option doesn't work"
I set the MSSQL_CLI_ROW_LIMIT to 1 or 0 to see any changes but not getting any

row limit prompt. And can't seem to disable the prompt. I understand this would limit the number of rows for select statement.

Note - I am running command prompt in administrator mode..

![set row limit issue](https://user-images.githubusercontent.com/18328337/33956137-af9954c6-e063-11e7-8dde-e74c135db76d.gif)

[2017-12-13 18:58] amjith commented on #102
What's the behavior you intend to see when you set that ROW_LIMIT?

When you say row limit prompt are you talking about the fact that the output table is paginated and show using the `more` pager?

Because your screen capture doesn't show a row limit prompt, so I'm wondering if I'm missing something.

[2017-12-13 19:17] MrMeemus commented on #95
I was able to repro this issue, it seems to be some concurrency issue from the back end. Will investigate more. Thanks @zayscue !

[2017-12-13 19:22] MrMeemus opened #103 "Results from completion refresher can leak onto the prompt"
Repro steps:
Submit a single query multiple times in succession quickly and eventually a table from the completion refresher query will show up on the prompt.

Potential fix:
This could be related to client pulling off the completion refreshers response from the queue because they could share the same request ID. Will need more investigation.

[2017-12-13 19:22] pensivebrian commented on #96
Thanks for the feedback mi-hol. It would be nice to support ODBC connections, however we are currently focused on making mssql-cli work well with the [SqlToolService ](https://github.com/Microsoft/sqltoolsservice) and SQL Server. ODBC support is not on our road map.

[2017-12-13 19:22] #96 closed

[2017-12-13 19:24] MrMeemus opened #104 "Intermittent error: 'JsonRpcClient' object has no attribute 'request_finished'"
Repeated submissions of a query can eventually lead to this error.

[2017-12-13 19:25] pensivebrian commented on #98
Thanks for reporting @Jaxelr. We're investigating this.

[2017-12-13 21:34] janschulz opened #105 "Able to pipe query into stdin and get csv on stdout or simply run the query"
We use commandline tools to transfer data from postgresql, mysql and sqlserver to (in our case) a postgresql server.

The basic idea is like this (in this case we get data from mysql and import it in postgresql:

[code]
[we also run all our ETL via sending queries to stdin of a psql call, but to support that in mssql-cli would also mean "import csv on stdin" support to actually get the data into s

[2017-12-13 21:36] Adikota commented on #105
i like to see this as well

[2017-12-13 21:45] MrMeemus opened #106 "Update completion refresher to only refresh on Use/Create/Drop statements"
Current implementation refreshes the suggestions after every query which is inefficient and should only be done when the statement alters or changes the target DB.

[2017-12-13 21:58] abhisheksinha89 opened #107 "mssql-cli on Windows 7 does not output any results"
![image](https://user-images.githubusercontent.com/3588285/33964549-a055bb0e-e00d-11e7-8dcf-f61b97df908d.png)

[2017-12-14 00:09] pensivebrian commented on #98
For now, we think this is Windows 7 specific. If someone experiences this issue on a non-Windows 7 OS, please let us know on this thread.

[2017-12-14 01:46] pensivebrian commented on #99
Updated the install guide with commit 0092acd11068ff6f74577d739eb5e8fed391e08a

[2017-12-14 01:46] #99 closed

[2017-12-14 01:54] MrMeemus commented on #106
Fixed in #108 .

[2017-12-14 01:54] #106 closed

[2017-12-14 04:39] talkingdotnet commented on #102
Well, I thought that when the row limit is set to 10, only first ten records should be displayed and when set to 0, all records should be displayed (with no option for more).. No matter what value you set, there is no difference in the output. The documentation says "Set environment variable MSSQL_CLI_ROW_LIMIT to set threshold for row limit prompt. Use 0 to disable prompt."
![set row limit issue_

[2017-12-14 06:26] SqlAdmin opened #109 "Exception OSError: (3, 'No such process')"
OS: ubuntu 16.04
Latest pip installed.

`mssql-cli -S 10.10.10.4 -U sa -d master`

**Error:**
[code]

[2017-12-14 07:03] amjith commented on #102
That is indeed a bug. Looks like the row_limit is ignored in the code. I'll see what I can do.

[2017-12-14 08:40] bonskijr opened #111 "Different display of cli in PowerShell and Command Prompt"
mssql-cli displays differently when being used inPowershell console. In command prompt it displays as it should but in Powershell it display filler "rectangle" for spaces.

Poweshell

![image](https://user-images.githubusercontent.com/60311/33982923-54263c96-e0ed-11e7-9a51-df29c41e73d7.png)

Command Prompt

![image](https://user-images.githubusercontent.com/60311/33982954-61518556-e0ed-11e7-9802-d

[2017-12-14 09:18] pasimetes17 commented on #98
pip 9.0.1
python 3.6
Windows 64 bit Profesional

Same with me:
XXXsafe3>SELECT * from "dbo"."tblUsers" where "LastName" like 'St%'
Not enough memory.
Time: 0.125s
It is just one record.

[2017-12-14 10:31] lov3machine opened #112 "won't start on Mac OS X 10.11.6: dyld: lazy symbol binding failed: Symbol not found: _clock_gettime"
When I start `mssql-cli` on Mac OS X 10.11.6 I get the following:

[code]

Is there anything I can do about it, besides upgrading to Mac OS X 10.12?

[2017-12-14 13:48] gerardog commented on #100
This is not a blocker for me. Seems reasonable that this should be fixed in the .net core platform as a whole.  I honestly created this as an issue assuming mssql-cli was pure python code.

[2017-12-14 15:05] gerardog commented on #100
Regarding your 2nd question. If this feature is implemented, I would expect mssql-cli on windows to behave same as SSMS.
A more general cross platform solution that does not work with SSCM is not of much use to me, because SQL Aliases add value only if they are a standard that many applications adhere to.

[2017-12-14 15:52] pensivebrian commented on #112
Unfortunately we only support macOS 10.12 and later due to our dependency on the [SqlToolsService](https://github.com/Microsoft/sqltoolsservice/). I'll update the installation guide with a note about the macOS version requirements.

[2017-12-14 15:52] #112 closed

[2017-12-14 16:12] pensivebrian commented on #109
It looks like the libunwind package is not installed, which is a prerequisite for mssql-cli. Can you try running the following command to install libunwind, and then try running mysql-cli?
[code]

[2017-12-14 16:41] SqlAdmin commented on #109
Awesome, it worked.
Thanks.

I'll close this issue.

[2017-12-14 16:41] #109 closed

[2017-12-14 16:59] need47 opened #113 "Cannot get required symbol EC_KEY_set_public_key_affine_coordinates from libssl 'serverInfo'"
I have the following libssl on my system (CentOS 7.4.1708):
/lib/libssl.so.0.9.8e*
/lib/libssl.so.10@
/lib/libssl.so.1.0.2k*
/lib/libssl.so.6@

uname -a
Linux machine 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Python 3.6.2

[2017-12-14 18:42] pensivebrian commented on #113
Interesting. Definitely looks like an openssl-lib package issue with the version and/or configuration, but I'm unable to repro this issue on my CentOS 7.4.1708 setup, using the same openssl-lib 1.0.2k version package.

[2017-12-14 19:06] ernesth65 opened #114 "TRANSFER Keyword no showing"
ALTER SCHEMA XXX TRANSFER not showing in intellisense

[2017-12-14 19:37] #81 closed

[2017-12-14 20:30] amjith commented on #102
@talkingdotnet I've merged a PR that should enable the use of that env var. So next version should have it.

The way that feature works is that, it'll ask you to confirm to see the results if the number of rows in the result set is above the threshold you've set in the env var.

For example: If you have `MSSQL_CLI_ROW_LIMIT` set to 10 and you run a query that returns 11 rows then the client will p

[2017-12-15 13:24] mjgpy3 commented on #98
I'm experiencing the same error, windows 7.

[2017-12-15 15:29] redfox-dev commented on #98
Same with me, I see the message even when I just hit enter.

[2017-12-16 03:20] abhisheksinha89 commented on #114
Thanks, we will look into this we may have missed this keyword.

[2017-12-16 03:21] abhisheksinha89 commented on #98
I am investigating this issue. Will keep you posted with updates

[2017-12-16 21:36] sethusrinivasan opened #116 "file missing - doc/virtual_environment_info.md"
doc/development_guide.md has reference to a file "doc/virtual_environment_info.md" that does not exist, it looks like this file was missed while adding other files to the repo

[2017-12-17 23:21] philcart opened #117 "There was a problem confirming the ssl certificate"
Running on Windows 10 Pro 1703 b15063.786

Install fails as follows,

[code]

Cheers
Phil

[2017-12-18 03:07] rahulballal opened #118 "Allow for full SQL Server connection properties"
At the moment thee is no way to specify connection properties like `ApplicationIntent`. It would be awesome to see this in upcoming releases.

https://blogs.msdn.microsoft.com/alwaysonpro/2013/08/02/connect-to-sql-server-using-application-intent-read-only/

[2017-12-18 16:33] codefoster opened #119 "Requesting "Dry Run" feature"
If I'd like to execute a command that will have some effect - an UPDATE, INSERT, or DELETE for instance - it would be nice to know how many objects that command is going to affect without actually having any effect. In many CLI tools, this is called a "dry run".
It would be great to see a dry run feature in `mssql-cli`.

[2017-12-18 19:19] ndwivedi commented on #98
Same issue windows 7.
![image](https://user-images.githubusercontent.com/9135814/34123711-65c6ac6a-e3fe-11e7-97b4-b34be4b91100.png)

[2017-12-19 00:04] abhisheksinha89 commented on #98
Thanks. We have narrowed this issue down to the more pager on Windows 7 does not handle UTF-8 codepage (cp65001) properly.
We are currently investigating workarounds for our tool

[2017-12-19 01:37] codandn opened #120 "distorted query resultset"
When you try to maximize the window, the query resultset table gets distorted or misaligned. When you restore down the window, it goes back to original aligned result. Only experienced  this using command prompt. No issue on powershell.

[2017-12-19 01:42] smooth1x1 opened #121 "@@ variables do not get intellisense prompting but some of them get syntax highlighting"
Typing 'SELECT @@VERSION'

a) whilst typing 'SELECT' we get prompts for auto-completion of the keyword.
b)Whilst typing @@VERSION there is no prompt for auto-completion of the variable name as in SSMS.

Once the full variable name @@VERSION is entering it is highlighted

See http://www.smooth1.co.uk/installs/dbinstalls.html#7.2.3

[2017-12-19 01:49] smooth1x1 opened #122 "@@ variables do not always get syntax highlighting"
select @@VERSION gets syntax highlighting but select @@TRANCOUNT does not

see

1. "Even though SOME @@ variables ARE syntax highlighted!" under

http://www.smooth1.co.uk/installs/dbinstalls.html#7.2.3 (Redhat)

and

2.  "However SOME @@ variables do get syntax highlighting as on Redhat" under

http://www.smooth1.co.uk/installs/dbinstalls.html#9.1.1  (Ubuntu)

[2017-12-19 16:18] ronascentes opened #123 "Allow Availability Group Listeners connectivity"
Today is not possible to connect by using availability group listener.

_Connection did not succeed.
Error message: A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: SSL Provider, error: 0 - The wait operation timed out.)
Unable to connect. Please try again_

[2017-12-19 21:44] EvanCarroll commented on #93
Cool, just for reference when you try to connect with `admin:localhost` you can pass auth but then you get a cryptic error,

[code]

[2017-12-19 22:01] abhisheksinha89 commented on #111
Hi, I am not able to repro this on Win10 Powershell 5.1
Can you tell me what codepage you are using for the powershell terminal?

[2017-12-19 23:55] abhisheksinha89 commented on #98
An update for this. Since Windows 7 cmd prompt does not have good support for more paging using UTF-8 codepages and there is no good workaround for this. We are going to remove Windows7 from the supported OS list for now.
The issues appears to be in https://github.com/pallets/click/blob/92532b58b1205b70737f837567f67c59949f3dc2/click/_termui_impl.py#L288 package that we use to print results on stdo

[2017-12-20 00:18] Jaxelr commented on #98
Thanks for the effort into looking at this issue. 👍

[2017-12-20 01:42] abhisheksinha89 commented on #120
Hi yes this is an issue with windows cmd prompt and we can't solve it trivially within the application.
An easy workaround is to enter 'Ctrl+L' which clears the screen and aligns the prompt for you again after you've resized the window.

[2017-12-20 01:42] #120 closed

[2017-12-20 01:56] bonskijr commented on #111
The original codepage was 437 (US)
![image](https://user-images.githubusercontent.com/60311/34187364-fa882d2e-e56b-11e7-941b-42cd056fdfd6.png)

Then after running the cli changed to 65001 (UTF-8)

![image](https://user-images.githubusercontent.com/60311/34187350-e5072fb8-e56b-11e7-931c-346c7e99836d.png)

But as you can see both the issues, at least for me

[2017-12-20 01:58] abhisheksinha89 commented on #117
Can you check your pip version using pip --version.
Also try and update pip using 'pip install --upgrade pip' and then try the install.
Let me know if this problem persists even after this.
Thanks

[2017-12-20 02:02] abhisheksinha89 commented on #111
Thanks I'll need to investigate this. I can't seem to repro this on 2 of our machines using version 0.8.0.
I noticed that you still have version 0.7.0.
Try doing a pip install --upgrade mssql-cli

Eventhough I think we didn't make any major changes just try upgrading and see if the problem persists. I'll try to get a repro so I can investigate this on my end.

[2017-12-20 02:10] abhisheksinha89 commented on #102
Thanks a lot @amjith
I've verified this fix and it should be available in our next release (v0.9.0 and above).
Closing this issue.

[2017-12-20 02:10] #102 closed

[2017-12-20 02:10] bonskijr commented on #111
Hi @abhisheksinha89 ,

I tried upgrading but issue still persist, but thanks for looking into this.

![image](https://user-images.githubusercontent.com/60311/34187771-fd956aac-e56d-11e7-992d-bf88e5de4faa.png)

[2017-12-20 02:11] abhisheksinha89 commented on #89
Dup of https://github.com/dbcli/mssql-cli/issues/116
Closing this

[2017-12-20 02:11] #89 closed

[2017-12-20 02:14] abhisheksinha89 commented on #118
Thanks, we plan on doing this 👍

[2017-12-20 04:18] abhisheksinha89 commented on #104
Fixed as part of https://github.com/dbcli/mssql-cli/commit/48a28995a3f9f73dcde933c7b0ec234348cfb8cd

[2017-12-20 04:18] #104 closed

[2017-12-21 15:02] MrMeemus commented on #122
Thanks for reporting the issue, Currently our syntax highlighter supports a limited subset of Transact SQL keywords and statements. We will be working to expand this in the near future.

[2017-12-21 15:05] MrMeemus commented on #121
@smooth1x1 , I will close this issue and use #122 for reference for the overall syntax highlighting fix.

[2017-12-21 15:05] #121 closed

[2017-12-21 22:26] #116 closed

[2017-12-22 00:20] abhisheksinha89 commented on #118
The fix went in as part of the above PR. . It will be resolved in our next release.

[2017-12-23 01:13] #93 closed

[2017-12-26 23:34] sethusrinivasan opened #128 "Allow connecting to Azure SQL database using AAD auth"
If Azure AAD is only way to connect to SQL database, it may not be possible to use mssql-cli. Please add support for Azure AAD auth & add sample command line in documentation

Related:
Azure AAD auth: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication

[2017-12-27 00:59] sethusrinivasan opened #129 "Stored procedure reporting multiple result-sets are not displayed in mssql-cli results"
1) Create a database test1
2) Create  following stored proc
CREATE OR ALTER PROC sp_test_multiple_results
AS
BEGIN
SELECT TOP 10 name,object_id from sys.objects
SELECT TOP 10 name,object_id from sys.columns
END

3) run mssql-cli and execute this proc

**Outcome:**
Only first result set is displayed
mssql-cli
![image](https://user-images.githubusercontent.com/3907049/34367290-9bd2ad76-ea5d-11e7-8f4

[2017-12-27 19:23] pensivebrian commented on #107
We're tracking Windows 7 support in issue #98, so closing this.

[2017-12-27 19:23] #107 closed

[2017-12-27 19:31] pensivebrian commented on #128
Unfortunately, mssql-cli does not support currently support AAD auth. This is due to a limitation of SqlClient on .NET Core, which is used by the [Microsoft/sqltoolsservice](https://github.com/Microsoft/sqltoolsservice) and mssql-cli to connect to SQL Server. There are plans to support this feature in SqlClient, however there aren't any timelines that I'm aware of that I can share.

The issue trac

[2017-12-28 22:21] abhisheksinha89 commented on #129
Will look into this

[2018-01-02 19:52] pensivebrian commented on #30
Added sqltoolsservice logging with commit 268fcfbedfc50b00bc12155ad5e82466082f7000. Client logs have been added awhile back.

[2018-01-02 19:52] #30 closed

[2018-01-02 22:30] abhisheksinha89 commented on #129
Found the root cause of this issue, working on a fix

[2018-01-03 00:19] abhisheksinha89 commented on #129
@pensivebrian @sethusrinivasan : Above PR to fix this issue

[2018-01-04 13:47] snewfie commented on #111
I having the issue also and using 65001(UTF-8) code page is there a fix in sight.
using windows 10 and powershell shell also occurs on cmd shell.

![image](https://user-images.githubusercontent.com/4139281/34566152-90c98cea-f12b-11e7-889f-7a3a25cef427.png)
![image](https://user-images.githubusercontent.com/4139281/34566194-b5df94de-f12b-11e7-9861-adee4f8ff629.png)

But if I use the cmd shell in le

[2018-01-05 10:06] sbrandtb commented on #105
This could be split into

* query from stdion (or file)
* csv stdout

The first one is keeping me from replacing microsoft's crappy sqlcmd client with `mssql-cli`

[2018-01-05 19:15] MrMeemus commented on #114
This will be added once we fully implement smart completion since this keyword requires context of the "ALTER SCHEMA" statement.

[2018-01-08 13:44] hethkar opened #133 "Not able to connect to google sql mysql instance"
I am trying to connect to a mysql5.6 database instance in google SQL. The ip address i am using is authorized in the google sql.
I am using the following command to connect to the instance.
mssql-cli -S instanceipaddresshere -d dbname -U user
and i paste the password after it prompts.
This is what i am getting -
`Connection did not succeed.
Error message: A network-related or instance-specific err

[2018-01-08 17:33] pensivebrian commented on #133
Hello, @hethkar. mssql-cli will not work with MySQL. mssql-cli only support working with Microsoft SQL Server. May I suggest using [mycli](https://github.com/dbcli/mycli)? Is has the same CLI experience, but works with MySQL.

[2018-01-08 22:05] MrMeemus commented on #114
Fixed in #132

[2018-01-08 22:05] #114 closed

[2018-01-09 10:43] fhureau opened #134 "Executing queries pollutes the screen with character garbage"
Hi,
My MSSQL user is read-only and the session fails to open when I try to connect with the same credentials that I use on Server Management Studio. Could it be a privilege issue?
If so, could it please be added on the enhancements list?
Thanks a lot!

[2018-01-09 11:11] fhureau commented on #134
I finally could connect when manually typing the password instead of pasting

[2018-01-09 11:17] fhureau commented on #134
I could finally connect by manually typing the password instead of pasting it, and I managed to get basic queries done but my screen is fully polluted by
![image](https://user-images.githubusercontent.com/16597934/34718415-d52301f0-f536-11e7-9bf6-809b774badd5.png)
characters whatever I do (CTRL+K / CTRL+L don't work)

[2018-01-09 11:20] hethkar commented on #133
@pensivebrian Hey thanks for the suggestion.

[2018-01-09 12:07] Komport opened #135 "NVARCHAR DataType max length - incorrect error message"
Hi All.

As you know max Length for nvarchar data type is 4000. But if you enter for Length value number greater than 8000 you will get below error.
[code]
Error message says that I can create nvarchar column with max length of 8000. Let's try.

[code]

Trying to create with 4000 value.
[code]

[2018-01-09 13:47] Komport opened #136 "Missing "quotation mark" - mssql_cli stuck"
I am testing simple stuff with mssql_cli on Centos 7.0 and Python 2.7. When i am doing simple insert command as below in one point I forget to put closing quotation mark after some value. mssql_cli stuck at this point and only Ctrl+C can help.
[code]

[2018-01-09 13:53] Komport commented on #136
After İ have waited a little longer and hit Ctrl+C I got below TraceBack

[code]

[2018-01-09 15:15] #133 closed

[2018-01-09 18:54] MrMeemus commented on #136
Thanks for reporting, it could be a mishandled error from sqltoolsservice leaving the process hanging. Will take a look.

[2018-01-09 22:13] #82 closed

[2018-01-09 22:35] abhisheksinha89 commented on #129
This should be fixed in 0.9.0 and later

[2018-01-09 22:35] #129 closed

[2018-01-09 22:36] abhisheksinha89 commented on #118
Please update mssql-cli. It should be fixed in v0.9.0 and later.
pip install --upgrade mssql-cli

[2018-01-09 22:36] #118 closed

[2018-01-10 23:01] pensivebrian commented on #93
This should be fixed in 0.9.0 and later. Running a `pip install --upgrade mssql-cli` command should upgrade to a version with the fix.

[2018-01-10 23:34] pensivebrian opened #138 "Only escape with double quotes if necessary"
Currently, our in auto suggestions, we're a little overzealous in our escaping of identifiers with double quotes. We should only escape when necessary.

For example, the query `select * from "HumanResources"."Employee"` shouldn't need any escaping.

[2018-01-10 23:37] amjith commented on #138
Anything with an upper-casing will be auto-escaped because postgres didn't believe in uppercase. If that's not a problem in mssql then there is no need for this escaping.

[2018-01-10 23:42] pensivebrian commented on #134
@fhureau - are you using powershell? If so, this looks similar to issue #111. Can you provide some details by running the following on the command line:

The active code page by running `CHCP`

The python version by running `python --version`

The powershell version by running `$PSVersionTable.PSVersion`

[2018-01-11 14:57] whit537 commented on #53
viz. #52

[2018-01-11 15:00] whit537 opened #139 "Add and/or document a way to run commands from a file"
`sqlcmd` provides a [`:r`](https://docs.microsoft.com/en-us/sql/tools/sqlcmd-utility#sqlcmd-commands) meta-command to run commands from a file in the current session. `psql` spells it [`\i`](https://www.postgresql.org/docs/current/static/app-psql.html). Does this feature exist in `mssql-cli`? I tried both `:r` and (for the heck of it) `\i` to no avail, though the latter did pop up a tantalizing fi

[2018-01-11 19:14] pensivebrian commented on #139
Hello, @whit537. Currently, mssql-cli does not support running command from a file. However, adding support for this is on our roadmap, though I don't have any exact timelines. If I had to guess, this is two, maybe three months out. Thanks for the feedback! Issues like this, along with upvotes, help prioritize our work.

[2018-01-11 19:53] abhisheksinha89 commented on #135
This message comes from the SQL Server engine itself and can be reproed using SSMS, sqlcmd, etc.
It's a bit confusing but I guess the first message tells that you have exceeded the limit for any data type which is 8000 which is probably the first check the engine does. The second message checks for the limit of NVARCHAR itself which is 4000.

Thanks for bringing this to our notice though, but sinc

[2018-01-11 19:53] #135 closed

[2018-01-11 23:35] MrMeemus commented on #136
Fixed in #140

[2018-01-11 23:35] #136 closed

[2018-01-12 04:48] MrMeemus commented on #111
I was able to repro this issue even with a simple prompt from prompt tool kit. Could potentially be a renderer issue. Will keep digging and update here.

[2018-01-12 12:51] rahulballal commented on #118
great work @abhisheksinha89 !! Thanks

[2018-01-14 18:59] MrMeemus commented on #111
@bonskijr @snewfie , I wasn't able to pinpoint a exact issue from the source. It looks like it could be a font issue with decoding the transparent characters within the prompt toolkit. I was able to fix this issue by switching my font (Lucida Console) for Powershell to some other font (Raster fonts) which removed the rectangular characters. I also verified switching the new font back to the origin

[2018-01-14 19:09] MrMeemus commented on #134
@fhureau, the solution I found to #111 was to toggle the font to the other font and back. Could you please give that a try and let me know if that solves your issue.

Thanks!

[2018-01-16 21:41] EvanCarroll opened #141 "Command line arguments."
this does not work,

    sqlcmd -A -U sa

this works

    sqlcmd -A

And then hitting enter at `sa`

[2018-01-16 21:47] MrMeemus commented on #117
@philcart  were you able to install it after upgrading pip?

[2018-01-17 00:02] pensivebrian commented on #141
I'm not able to repro any errors running `mssql-cli -A -S localhost` on my Windows box. What OS/python version are you using? Also, can you post the error your are seeing, and the log file from the %localappdata%\dbcli\mssqlcli\mssqlcli.log file?

[2018-01-17 00:53] EvanCarroll commented on #141
Using Linux. Log inlined.

[code]

[2018-01-17 19:36] pensivebrian commented on #141
Thanks for the info. I can repro this on Linux. There are two workarounds (you already mentioned the first):
1) `mssql-cli -A`
2) `mssql-cli -A -S 127.0.0.1`

Since we have workarounds, this will be a lower priority bug fix, so it may be awhile until we get to this. I appreciate you exercising the DAC features of the tool. Thanks for filing!

[2018-01-17 19:40] pensivebrian commented on #58
Closing this as we aren't tracking issues like this here.

[2018-01-17 19:40] #58 closed

[2018-01-17 20:43] EvanCarroll opened #142 "Don't call the tool "open source""
I think it's somewhat confusing when you call the tool "open source" when it's thin python shim over a bunch of proprietary dlls.

Yea, you're on Github, but this isn't really the idea..

https://github.com/dbcli/mssql-cli/pull/127/commits/7fac173164b49abdf095da9b547a8e39099f8e51

[2018-01-17 21:16] MrMeemus commented on #142
@EvanCarroll  thanks for the comment, the proprietary dll's you are referring to are also open sourced here: https://github.com/Microsoft/sqltoolsservice.

We welcome contributions there too! :)

[2018-01-17 21:16] #142 closed

[2018-01-17 21:21] EvanCarroll commented on #142
Where is the commit that added DAC in that repository? I'm having a hard time finding it,

https://github.com/Microsoft/sqltoolsservice/commits/master

You closed this issue

https://github.com/dbcli/mssql-cli/issues/93

With this commit

https://github.com/dbcli/mssql-cli/commit/7fac173164b49abdf095da9b547a8e39099f8e51

I don't see anything in that commit history that even mentions DAC,

https://

[2018-01-17 21:48] MrMeemus commented on #142
Here is the PR that addressed the DAC fix: https://github.com/dbcli/mssql-cli/pull/127

The comments state that the fix was on the python client side along with updates from sqltoolsservice which had a updated Sqlclient. As far as the actual commit that added DAC support I am not 100% sure who or when it was commited to sqltoolsservice. I can dig that up if interested.

Microsoft maintains only a

[2018-01-17 21:54] pensivebrian commented on #142
I tried to capture this information in my PR for #127, but perhaps I could have done a better job.

The underlying DAC fix was made to SqlClient in PR [#10844](https://github.com/dotnet/corefx/pull/18044). SqlClient is part of the [dotnet/corefx](https://github.com/dotnet/corefx) repo. The fix was then pulled into the [sqltoolsservice](https://github.com/Microsoft/sqltoolsservice) with PR [#466](h

[2018-01-18 04:59] EvanCarroll commented on #142
Summary of commits
====

* [SqlClient PR #10844](https://github.com/dotnet/corefx/pull/18044) was committed on [Apr 10, 2017](https://github.com/dotnet/corefx/commit/5a7a9f0736d5a1d21bd4d6f1b7913a4c61a797cc).
* [sqltoolsservice PR #466](https://github.com/Microsoft/sqltoolsservice/pull/466) was commited on [Sept 20, 2017](https://github.com/Microsoft/sqltoolsservice/pull/466)

And this project shi

[2018-01-18 18:45] mi-hol commented on #142
@MrMeemus I wonder if the comments made by @EvanCarroll after closing will be considered?

[2018-01-18 21:38] MrMeemus commented on #142
@EvanCarroll ,

Thank you for your thorough and thoughtful response.

**Response:** mssql-cli does not ship zipped binaries of sqltoolsservice, but rather the official binaries of the latest github release of sqltoolsservice per supported distro/OS. If you disagree with the distribution format of sqltoolsservice, I would recommend filing a issue there as I don't know the entire details of their di

[2018-01-18 23:39] internetjanitor opened #143 "ms-pydocx"
https://pydocx.readthedocs.io/ + https://python-docx.readthedocs.io/

[2018-01-19 17:21] EvanCarroll commented on #142
I'm not the person to tell you about alternative methods. But I'm fairly certain (99% and some change), that you're going about this wrong and that you'll regret it at some time in the future. I even asked a quick question on [StackOverflow for some clarification,](https://stackoverflow.com/a/48346227/124486)

So the python way is to create a different "virtualenv" for each package. It's simply no

[2018-01-19 17:27] amjith commented on #142
@EvanCarroll The virtualenv is a concept that is used for development. It is typically used by Python devs who are familiar with it.

Asking everyone who wants to use mssql-cli to learn how to use a virtualenv is not a user friendly approach.

It is common (in python world) to vendor in the dependencies to avoid conflicts.

[2018-01-19 23:44] internetjanitor commented on #143
pydocx is pretty well perfect btw.  I've extended it for code blocks (using <pre>) and used adjacency css to add margin only to the outset of repeated styles (specifically +<p>).  I also remove empties or same-style (strong, etc) repeats and combine per-line <pre> repeats into contiguous blocks using regex.  Then I transform the custom <pre> tag for code blocks into <pre><code class="codeStyle"> (

[2018-01-23 09:35] ajilius commented on #138
I think the only identifiers that should need quoting are:
(1) names that do not conform to the identifier name rules (ie, start with digit, contain embedded space, etc.)
(2) reserved words

[2018-01-23 11:26] OneLine-Lee commented on #143
![20180123192439](https://user-images.githubusercontent.com/8857021/35273328-2a6ab88c-0073-11e8-86dc-a0d954d3053c.png)
can anyone help me?

[2018-01-24 17:45] pensivebrian commented on #143
@OneLine-Lee This looks like a permissions issue. You'll have to run the pip install command from an elevated command prompt.

To create an elevated command prompt, when you launch cmd.exe, try right clicking on the icon, and select the "Run as administrator". Then, run the `pip install mssql-cli` command in the elevated console.

If you continue to have issues, please create a new issue, and we c

[2018-01-24 17:54] MrMeemus commented on #95
Dug a little deeper into this issue. It seems to be because the same mssqlcliclient is being used for completion refresher which may return results slowly. This can lead to the message you are seeing. This was originally by design but after fiddling with slower connections to DB's like Azure it seems like we should probably create a separate connection for the completion refresher. Will update thi

[2018-01-25 18:48] rickblais opened #146 "Export session or queries from session to a file"
Enhancement request to support the exporting of queries and results from a session to a file.

[2018-01-25 21:34] MrMeemus opened #147 "Add settings migration when new settings are added during upgrade."

[2018-01-25 21:39] MrMeemus commented on #147
When new settings are added, users who upgrade to the new version of mssql-cli will not have their config files updated with the new settings. This issue is to add some detection during install or first run (post upgrade) to either inject the new options into the config file or migrate the previous settings to a new config file.

[2018-01-26 18:22] MrMeemus opened #148 "Only use auto vertical if less is not installed when expand = auto"

[2018-01-26 21:07] chubbsm opened #149 "Out of memory error"
Won't run under Windows 2008 R2 server. Gets out of memory error same as Windows 7.

Version: 0.9.0
Mail: sqlcli@microsoft.com
Home: http://github.com/dbcli/mssql-cli
master>SELECT * from sys.systables
Not enough memory.
Time: 0.062s
master>

[2018-01-26 21:09] chubbsm commented on #98
I'm getting the same thing on Windows 2008 R2 server.

[2018-01-26 21:15] Jaxelr commented on #149
Guessing this is the same symptom as #98

Would love confirmation from the team.

[2018-01-26 21:38] pensivebrian commented on #149
Windows 2008 R2 is the server variant of Windows 7, so it's the same issue. I'll remove this OS from the supported list in the install guide. Please upvote #98 if you would like to see it fixed.

[2018-01-26 21:38] #149 closed

[2018-01-30 06:48] kabirbaidhya commented on #95
I keep getting this issue too frequently almost every time I run query on a remote server. Do we have a plan of when this bug is going to get fixed and released?

[2018-01-30 06:52] kabirbaidhya opened #150 "Question: release plan or updates for mssql-cli?"
Hi,

I didn't see any tags published yet on [releases](https://github.com/dbcli/mssql-cli/releases) or [tags](https://github.com/dbcli/mssql-cli/tags) pages yet. But I just saw a new release `0.9.0` has been published to `pip` as previously I was using `0.8.0`.

I wanted to know what would be the best way to keep up with the recent releases and changes as I didn't see any changelogs or release his

[2018-01-30 16:07] MrMeemus commented on #150
@kabirbaidhya, moving forward our releases will be tracked via github. This will include a changelot of all fixes and changes that went in. Also all of our releases will be announced on our twitter acccount: @sqldatatools

Thanks!
Ron

[2018-01-30 16:08] MrMeemus commented on #95
@kabirbaidhya, I will be looking into this fix either late this week or early next week.

[2018-01-30 17:42] #150 closed

[2018-01-30 18:19] kabirbaidhya commented on #150
Sure. Thanks..

[2018-01-31 07:39] jonathanslenders commented on #111
This looks like a prompt_toolkit issue indeed. I can reproduce it with the example prompt applications.

Which Python version are you using? I don't remember that we were changing the code page, but I think Python 3.6 does. In any case, I think we can probably fix it.

Also notice that prompt_toolkit 2.0 (non yet released), can render using vt100 escape sequences on Windows 10, which is also more

[2018-01-31 09:31] bonskijr commented on #111
hi @jonathanslenders , running Python 2.7.1 so I can tinker with Sql op studio source(requirement).

But I'm not sure what I installed or applied but it looks ok to me now

![image](https://user-images.githubusercontent.com/60311/35615216-70d6905e-06ac-11e8-948c-1f6ad7e71c0f.png)

[2018-01-31 15:17] LarnuUK opened #152 "mssql-cli: command not found"
With the recent update to msodbcsql from 13.2 to 17 breaking sqlcmd on Linux, thought i'd give this a go, however, doesn't seem to work either.

Followed the instruction as per the guide, however, got the above error. Tried, therefore, instead using python 3.6, and same result.

Both `pip list` and `pip3 list` show that the mssql-cli module is installed.

Using Ubuntu 17.10, with Python 2.7.14 and

[2018-01-31 16:23] pensivebrian commented on #152
Can you share your output for the following commands:

$ which pip
$ pip --version
$ which python
$ python --version

[2018-01-31 16:51] LarnuUK commented on #152
Sure:
[code]

And for completeness:
[code]

Many thanks.

[2018-01-31 18:05] pensivebrian commented on #152
Can you also share the output for: `$ pip show mssql-cli`

[2018-01-31 18:24] MrMeemus commented on #111
@bonskijr , did you happen to change your font since the first time you reported the issue?

[2018-01-31 18:27] MrMeemus commented on #134
@fhureau , what is your system locale and font for powershell?

[2018-01-31 18:29] snewfie commented on #111
changing the font fixes the issue wihout needing to use legacy mode

used consolas

thx for all the input guys

[2018-01-31 18:30] snewfie commented on #111
![image](https://user-images.githubusercontent.com/4139281/35640328-dc93831e-068a-11e8-9dd5-7198dda2e913.png)

[2018-02-01 00:23] bonskijr commented on #111
@MrMeemus no changes in font, default was Consolas ( see first screenshots ).

I think its probably related to codepage, at first cmd/ps, my codepage s 437 and upon exit from mssql-cli changes to 65001

![image](https://user-images.githubusercontent.com/60311/35654606-d947684e-0728-11e8-9709-508afef2ac83.png)

note: not sure why this changed to v.0.9 of mssq-cli, probably because I also have the s

[2018-02-01 08:37] LarnuUK commented on #152
[code]

[2018-02-01 20:20] MrMeemus commented on #152
@LarnuUK, was mssql-cli installed with the --user option?

Based on the location of python and mssql-cli it looks like mssql-cli was installed into your local user directory but the system python doesn't have visibility to the user local location.

[2018-02-01 22:39] MrMeemus commented on #134
Closing as a dup of #111

[2018-02-01 22:39] #134 closed

[2018-02-02 17:52] MrMeemus commented on #111
Closing this issue with the troubleshooting steps in place merged above.

[2018-02-03 03:20] sethusrinivasan opened #156 ""mssql-cli --enable-sqltoolsservice-logging" prompts for user name and password"
If "--enable-sqltoolsservice-logging" was to enable diag logging, wondering why it should tell prompt for UserName and Password

Environment: Ubuntu 16.04 LTS

![screenshot from 2018-02-02 19-16-22](https://user-images.githubusercontent.com/3907049/35762591-f9a097d4-084d-11e8-8623-a71a8df34a27.png)

[2018-02-03 03:42] sethusrinivasan opened #157 ""SELECT 1" on Azure SQL DB reports incorrect result - "A query is already in progress for this editor session. Please cancel this query or wait for its completion""
Connect to Azure SQL DB and issue a simple query SELECT 1

Client: Ubuntu 16.04 LTS

Outcome:
wrong results

Here is screenshot
![anotherqueryrunning](https://user-images.githubusercontent.com/3907049/35762750-3ba281d0-0851-11e8-81ff-5ddfbcd8d330.png)

[2018-02-04 09:47] mikedavem opened #158 "Possibility to disable auto-completion feature"
Hi,

It could be good to get the possibility to disable auto-completion especially for environments that include thousand of objects. From my experience auto-completion feature from other tools like SSMS / RedGate etc .. may slow down our productivity in this specific context

Regards

[2018-02-04 09:53] mikedavem commented on #139
In addition to the chadwhitacre request, would be possible to add execute commands from a file with **"pause"** capability. I may see an particular interest during demonstrations where we want to display step by step results

Regards

[2018-02-05 20:00] pensivebrian commented on #111
Let's leave this open the issue still exists, we just have a workaround.

[2018-02-05 20:21] MrMeemus commented on #157
@sethusrinivasan , thanks for reporting! Both issues are tracked here: #103 and #95.

Will close this issue as a duplicate. Thanks again!

[2018-02-05 20:21] #157 closed

[2018-02-05 21:00] MrMeemus commented on #156
@sethusrinivasan , that is a optional flag to set prior to the execution of the tool. This is expected behavior unless you had a user name env var set already and it still prompts for your username (I wasn't able to repro this if that was the case.)

[2018-02-05 21:38] abhisheksinha89 commented on #8
- [ ] Framework for execution
- [ ]
- [ ]

[2018-02-09 02:03] MrMeemus commented on #103
Fixed in #161 .

[2018-02-09 02:03] #103 closed

[2018-02-09 02:04] MrMeemus commented on #95
This issue has been fixed in #161. It should be available in our next release (0.10.0) ETA week of Feb 12th.

[2018-02-09 02:04] #95 closed

[2018-02-09 23:19] MrMeemus commented on #158
@mikedavem , thanks for reporting! this has been added in #162. We should have it in release 0.10.0 sometime next week.

[2018-02-09 23:19] #158 closed

[2018-02-10 12:00] blackphoenixinf opened #163 "Unable to connect to server on custom port"
Hi,

I`m having problems with connecting to SQL Server On Linux using mssql-cli using Ubuntu 16.04.
This is not related to firewall etc, as connection from same machine using mssql tool works fine.

Steps to reproduce:
1) setup sql server on port different than 1433
2) try to connect using following command:
`mssql-cli -S HOST,PORT`

Expected result:
Successful connection

Actual result:
`Connecti

[2018-02-11 20:28] MrMeemus commented on #8
Added in #160.

[2018-02-11 20:28] #8 closed

[2018-02-11 20:31] MrMeemus commented on #9
Added in #160.

[2018-02-11 20:31] #9 closed

[2018-02-17 03:18] organicit commented on #68
What OS are you targeting for this image?  Are you planning for OS's other than Server Core and Nanoserver?

[2018-02-17 23:44] pensivebrian commented on #94
This is fixed in the latest 0.10.0 version.

To achieve a prompt that starts on a newline, you can add the following to config line to your config file. On Windows, the path to the config file is `%APPLOCAL%\dbcli\mssqlcli\config`.

`prompt = '\d\n> '`

[2018-02-17 23:44] #94 closed

[2018-02-18 10:56] MightyPen commented on #94
Thanks!

[2018-02-24 00:10] MrMeemus opened #171 "remove click dependency"
Currently use argparse to handle command line options and click for echo prompts and pager.
By using click we are not able to run on Windows 7 due to a memory issue. Removing click will alleviate this issue.

[2018-02-27 14:12] pastoolio opened #172 "Database Dumps"
Hi there.

Is there some way this tool can be used to make and restore database dumps?

[2018-02-28 08:46] pastoolio commented on #172
I would really like a solution to make backups of remote MS SQL databases using a remote Linux connection.

[2018-03-07 23:35] pensivebrian commented on #171
I'm going to close this as won't fix as we won't be getting to this for some time and we already have issue #98 tracking the Win 7 issue.

[2018-03-07 23:35] #171 closed

[2018-03-07 23:37] pensivebrian commented on #156
Closing this as by-design based on the @MrMeemus comments above.

[2018-03-07 23:50] pensivebrian commented on #84
This was fixed in the sqltoolsservice with PR https://github.com/Microsoft/sqltoolsservice/pull/498. On Windows, this no longer repros with the above steps.

[2018-03-07 23:50] #84 closed

[2018-03-09 17:20] pensivebrian opened #175 "Do not use a semicolon to end a multi-line query"
Currently when editing a multiline query, we use use a semicolon+<enter> to delineate the query should be executed.

Feedback from the MVP summit: in multiline query mode, users like to enter more that one statement, which are delineated by semicolons, so using a semicolon is a bad choice. We should consider using the 'GO' keyword to execute the query, which aligns with sqlcmd.

[2018-03-13 12:43] illidanpc opened #177 "Cannot login as Windows Authentication"
Hello Experts,

First, I greatly appreciate you guys made this amazing tool. The highlighted prompt is really helpful and beautiful.

I just have a small question that I cannot find a parameter for Windows Authentication. I am not sure if it's my mistake to ask a so funny question.

Please feel free to let me know if it's a non-supported scenario this moment.

Regards,

[2018-03-13 14:06] meeuw commented on #177
@pensivebrian told me: use the -E option to use windows/integrated authentication. If you configure kerberos, it should would on Linux/macOS as well.

[2018-03-14 12:36] illidanpc commented on #177
It's Cool

[2018-03-14 12:36] #177 closed

[2018-03-19 09:56] huangweijun opened #178 "The MAC system needs to enter the Q for each end of the output"
Each output result needs to enter the Q exit to continue the next command input, so the experience is too bad.
Mssql-cli:0.10.0
System:macos Sierra 10.12.6

[2018-03-19 09:59] huangweijun commented on #178
![image](https://user-images.githubusercontent.com/25835031/37589026-f3c3b1a6-2b9e-11e8-9278-2fd07918d62f.png)
You need to enter Q to finish this operation
![image](https://user-images.githubusercontent.com/25835031/37589104-268e4c04-2b9f-11e8-9816-104891436d79.png)
finish

[2018-03-19 17:51] MrMeemus commented on #178
@huangweijun, can you please share your config file?

Located here: /Users/<UserName>/.config/mssqlcli/config

[2018-03-20 02:02] huangweijun commented on #178
[config.txt](https://github.com/dbcli/mssql-cli/files/1827596/config.txt)

[2018-03-22 20:34] chriswolf-nrg commented on #163
This works for me:
[code]
You should make sure to prefix with `tcp:` and have the whole `protocol:host,port` in quotes.

[2018-03-26 19:03] ferpega opened #179 "Connecting to database on Windows with MSysGit"
I cannot connect to a database server with MSSQL-Cli on MSysGit (bash for windows from Git).

It seems like output is not dropped in console.
Docker for windows has the same problem (IMHO) but it is solved using winpty command before any another docker command.

I have tried with winpty but no luck.

Regards

[2018-03-28 04:19] xenogew opened #180 "UnicodeDecodeError during install process on Windows 10"
While I tried to install client via command `pip install mssql-cli`.
It throw this error and cannot finish the installing process.

[code]

And I never touch Python before, so I don't have any idea about these errors.
Can anyone help me to fix the issue.

**Python runtime:** 3.6.4
**OS:** Windows 10 Pro 64bit
**Python installed path:** C:\ext\Python

[2018-03-28 17:00] pensivebrian commented on #180
That error is in pip, so it seems pip isn't dealing with a console set to utf-8 as the encoding very well.

Can you try opening a brand new console, and running the pip upgrade? If it fails, can you report encoding from your console using the following command:
`> chcp`

Then, can try changing your codepage to 437 using the following command, and re-run the pip upgrade?
`> chcp 437`

[2018-03-30 02:31] xenogew commented on #180
To @pensivebrian
What I've done is run the command you recommended `chcp 473` (former value is **932**)
and then run upgrade pip command and it said, already up-to-date as a result.

But it's quite look like still throw the same error.
Here is the whole output of `pip install mssql-cli` I called.
[code]

Sorry for information what I have just only this and don't have any idea about Python.
Wish yo

[2018-03-31 23:02] pensivebrian commented on #180
So this looks like an known issue in pip 9 - see the thread in issue https://github.com/pypa/pip/issues/4110. In particular, cp932 is one of the problematic code pages.

I see two possible workarounds:
1) In the above thread, a workaround mentioned to change the code page before the install. Maybe you'll have better luck with this code page before installing mssql-cli.
[code]

2) Upgrade to pip 10

[2018-04-14 02:10] lucasteles opened #187 "Connection management"
Would be great if i can save named connections for a future quick connect

With that we could add a new predefined connection
[code]

List the stored connections, showing only the name, server and user
[code]

With that, on normal CLI we just pass the connection name for quick accesss

[code]

tks

[2018-04-29 11:05] anton-johansson opened #189 "Authentication to AD/LDAP-accounts"
I have a server with authentication through active directory. But I can't seem to login. If I were on Windows, I suppose it would work with the `--integrated` switch. But how would I do on a Linux platform?

[2018-04-29 23:50] pensivebrian commented on #189
To use integrated authentication with mssql-cli on macOS or Linux, you first have to configure Kerberos using the [following steps](https://github.com/Microsoft/vscode-mssql/blob/master/KERBEROS_HELP.md). The steps are a bit tedious, but once configured, you should be able to connect using the `-E` or `--integrated` switch.

[2018-05-01 00:12] RJ151 opened #192 "How to toggle multi-line mode on Chromebook? No F3 key present on computer."
Currently unable to access multiline mode on Chromebook/ SQL Server for Linux 2017. Is these a command that may be entered? Thanks

[2018-05-01 05:11] meeuw commented on #192
I can use the search button + numeric key combination to use function keys, have you tried that?

[2018-05-01 20:03] RJ151 commented on #192
Thanks for the suggestion, it does not work for me, on GalliumOS.

[2018-05-01 21:17] MrMeemus commented on #178
@huangweijun can you share the value in your env var LESS:
              ``echo $LESS``

[2018-05-04 07:41] meeuw commented on #192
Have you tried using this?
https://wiki.galliumos.org/Media_keys_and_default_keybindings

[2018-05-04 15:14] mithun-daa opened #194 "Any way to disable vertical output?"
First off, great job on this nifty little tool 👏 .

I was doing some simple `selects` and looks like if there are too many columns, the tool defaults to using the vertical output even if it is not specified while connecting to the server.  Is there a way around this?

[2018-05-04 16:02] trumpi commented on #101
I'm having the same problem, but on Mac OS. I'm not sure which docs you are referring to, but I cannot find anything that refers to a Python environment in the Mac OS docs. Can anyone help me?

[2018-05-04 16:36] amjith commented on #194
Yes. You can disable it in your config file. Check this line in your config file and set it to `never`.

https://github.com/dbcli/mssql-cli/blob/master/mssqlcli/mssqlclirc#L29

You can find your config file at

Linux: `~/.config/mssql-cli/config`
Windows:  `%USERPROFILE%\AppData\Local\dbcli\mssql-cli\config`

[2018-05-04 16:40] mithun-daa commented on #194
Perfect! Thank you!

[2018-05-04 16:40] #194 closed

[2018-05-04 17:17] MrMeemus commented on #101
@trumpi, Can you please share the following info:
- Commands used to install mssql-cli
- Python3 and pip3 installed?

[2018-05-04 17:42] LarnuUK commented on #152
Hi MrMeemus,

Yes, that did work. Interesting that the documentation mentions Ubuntu 17.04 though. Support ended for that in January. :)

Thanks.

[2018-05-07 13:51] sairamch04 opened #195 "prevent Sql result from piping to less command"
I've installed as mentioned in [doc](https://github.com/dbcli/mssql-cli/blob/master/doc/installation/macos.md#installation-via-pip). Results of every query are being piped to less command. How can I stop from redirecting the output to `less` and show results in the same window

[2018-05-07 15:02] amjith commented on #195
@sairamch04 You can adjust the behavior of the pager (less command) to suit your needs.

Here's how you can change the behavior: https://github.com/dbcli/mssql-cli/blob/master/doc/troubleshooting_guide.md#default-pager-outputs-results-separate-from-main-console

If you uncomment the pager line in your config file it will default to using a sane configuration for the less command. If you just don't

[2018-05-07 16:05] sairamch04 commented on #195
@amjith Thank you !. uncommented it

[2018-05-07 16:05] #195 closed

[2018-05-08 11:55] trumpi commented on #101
Hi @MrMeemus

I think I've solved the problem, but I admit that I probably did it by accident since I'm not an expert with Python. It appears as though I had both Python 2 and Python 3 installed. Even worse than that, there were two versions of Python 2 installed. I have no idea how that happened.

I resolved the problem by uninstalling all the Pythons using Homebrew. I then installed `python@2`.

[2018-05-08 18:26] ohbadiah commented on #139
+1 to this!

[2018-05-08 20:24] bigleka opened #197 "Create a Windows Installer"
Create a Windows Installer for people using windows.
There a few cases when the company use a proxy resolution that the PIP can´t resolve.

[2018-05-08 20:56] MrMeemus commented on #197
@bigleka, we understand your pain! That is on our roadmap and could be slated for the next release.

[2018-05-08 20:57] MrMeemus commented on #152
Ideally we will support versions of Ubuntu that are supported. As of now, the platforms that .Net Core supports is where we will be.

[2018-05-08 20:57] #152 closed

[2018-05-08 20:59] bigleka commented on #197
@MrMeemus any ideia when the next release will come?

[2018-05-10 19:18] jefflomax opened #198 "SQL Server 2017 : Crash processing ON in INNER JOIN (ColumnMetadata object has no attribute 'get_foreign_keys')"
Windows 10 1703 15063.0
SQL Server 2017
Version: 0.12.0
Connected as -I  (Integrated) to local DB

Query:
select * from Employees INNER JOIN "dbo"."Employees_Identities" ON
Tried to display intellisense and returned:

XXXXX> select * from Employees INNER JOIN "dbo"."Employees_Identities" ON Exception in thread Thread-125:
Traceback (most recent call last):
  File "C:\Python\Python36\lib\threading.

[2018-05-10 20:57] jefflomax commented on #138
For most of us, "dbo" is the only schema, and table names never need any escaping.  Where I work, all column names are unique, so aliasing of any kind is a rarity.

We should have a way to make all queries in the simplest and most readable form:
select * from Employees
not select * from "dbo"."Employees"
And at the moment, if I do type select * from Employees, then the DRI based join hints don't w

[2018-05-10 21:28] bigleka commented on #197
I figure out who to install behind a proxy.
Set two environment variables:
set http_proxy=domain\username:password@proxy_server:port
set https_proxy=domain\username:password@proxy_server:port

If the Password contains special characters like @,$,! (e.g. Password: P@ssword) then replace the special characters by their hex code equivalents with % prefix like this:
@==>%40
$==>%24
!==>%21
Example: us

[2018-05-10 21:42] MrMeemus commented on #198
A temporary workaround is to install our 0.10.0 release.

[2018-05-10 21:42] #198 closed

[2018-05-11 14:03] bigleka commented on #172
All the backup/restore operation occur on server side, this client like SSMS/SQLCMD just send the command to the SQL Server create/restore the backup.

[2018-05-11 15:50] MrMeemus commented on #198
@jefflomax, we just published a new release with the fix, feel free to upgrade.

[2018-05-13 15:05] saulpw opened #202 "Support pipe-able data format output"
It would be wonderful if mssql-cli could output data in a format that was pipeable into other tools.  NUL-terminated data fields (like git -z commands) would be preferred; tsv or csv or json would be acceptable.  Thanks!

[2018-05-14 17:42] chucker commented on #189
Do you mean `-I`? That yields:

Even if I previously ran `kinit`.

[2018-05-15 14:13] ScriptMyJob commented on #189
Yeah, this is super annoying.  I am surprised that `mssql-cli` does not seem to support domain authentication on MacOS.  I seem to remember that I got this working in an earlier build (using `sqlcmd` on MacOS) but I am damned if I cannot figure it out now.  ¯\_(ツ)_/¯

There really should be a switch to handle AD Authentication that is not Azure.

[2018-05-15 22:03] redfox-dev opened #203 "mssqlqueries.py"
mssqlqueries.py uses information_schema in lower case, this affects database defined as case sensitive. The database containing INFORMATION_SCHEMA in upper case does not show table names, views, columns names, and functions in the autocomplete.

[2018-05-16 14:59] lycovian commented on #139
I was curious as to the status of being able to pipe or run script files.  Also +1 as it would solve a important developer CI/CD use case for us.

[2018-05-22 09:52] geoffclark commented on #189
Hi I cannot get mssql-cli to use my AD\LDAP account
It is correctly set up as I can use AD Authentication for SQL Operations Studio 2
Any help would be appreciated.

[2018-05-25 00:19] ppKrauss opened #204 "How to install at UBUNTU 18 LTS?"
https://askubuntu.com/questions/1040028/how-to-install-mssql-cli-at-ubuntu-18-lts

[2018-05-30 21:14] MrMeemus commented on #204
@ppKrauss, looks like we are missing a libicu60 depedency in the debian package. I'll have a PR out shortly.

[2018-05-31 07:41] MasayukiOzawa opened #206 "Can not access for the first time for the login that needs to change the password"
It is not possible to perform mssql-cli's first login using the logon created by the following query.
`
USE [master]
GO
CREATE LOGIN [logintest] WITH PASSWORD=N'<StrongP@ssw0rd12345>' MUST_CHANGE,
DEFAULT_DATABASE=[master], CHECK_EXPIRATION=ON, CHECK_POLICY=ON
GO
`

The following message will be output but mssql-cli will exit without prompting you to change the password.

[2018-05-31 16:52] MrMeemus commented on #206
@MasayukiOzawa , This behavior is expected from the CLI perspective. You'll have to log on as the server admin and alter the password prior to logging in.

https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-login-transact-sql?view=sql-server-2017

[2018-05-31 16:55] MrMeemus commented on #204
This has been fixed and released in pr #205.

Running

`sudo apt-get install mssql-cli`

Should resolve the new libicu60 dependency.

[2018-05-31 16:55] #204 closed

[2018-05-31 18:32] djustins commented on #189
using RHEL7, also get:
Integrated authentication not supported on this platform

Even though i have a successful krb ticket

[2018-05-31 18:35] pensivebrian commented on #189
We'll need to investigate this.

@MrMeemus - we should be using the -E switch for integrated auth to align with sqlcmd.

[2018-06-01 10:32] meeuw opened #207 "connect sqltoolsservice over a virtual serial port"
I'm trying to run sqltoolsservice at a remote desktop session and tunnel the json data over the same connection over a virtual serial port. This will decouple sqltoolsservice from mssql-cli and allows one to use integrated authentication without setting up kerberos etc.

I'm running the following command on linux to set up a virtual serial port:
```socat -v -d -d pty,raw,echo=0 pty,raw,echo=0```
(

[2018-06-03 13:18] ppKrauss commented on #204
Hi @MrMeemus, sorry to abandon: seems the correct solution solution (!), but I left Ubuntu 18 in favor of Ubuntu 16, as other peoble suggested. This issue must be tested/endorsed by other one.

[2018-06-04 21:05] pensivebrian commented on #207
@meeuw - you are a mad scientist! I mean that in a good way :)

If you're using UTF8 encoding for stdin and stdout, I really have no idea why the tools service wouldn't understand the connect message. You're in uncharted territory.

[2018-06-05 00:42] #206 closed

[2018-06-05 14:07] rocjoe opened #208 "User's default database not followed"
When logging in with a SQL login, the use gets dropped in to 'master' instead of the default db specified in the user's profile.

I did verify the use had a custom default setting by querying sys.server_principals & the default choice is definitely set.

No doubt there is a command-line switch that can let me set my preference, but could you use the user's default db setting when no switch is prov

[2018-06-06 10:02] huangweijun commented on #178
echo $LESS
-R

[2018-06-06 10:03] huangweijun commented on #178
@MrMeemus value is "-R"

[2018-06-08 17:39] BadSqlPro opened #209 "Is vertical output a default now? I get vertical output regardless."
I get vertical output regardless of whether or not I use the --auto-vertical-output at the time of the connection. I am using this right? I would like to have the horizontal scrolling unless I need the vertical scrolling. How do I get that?

[2018-06-11 21:59] yualan commented on #209
Hi @BadSqlPro , what operating system are you using and which version number of mssql-cli?

[2018-06-11 22:03] BadSqlPro commented on #209
I am using Windows 10 and Version 0.13.0 of mssql-cli

[2018-06-12 22:36] pensivebrian opened #210 "rpm and deb packages should to be signed"
Currently, the RHEL yum install command line fails since the rpm package is not signed. Workaround: install using the `--nogpgcheck` option:

[code]
All packages, both .deb and .rpm should be signed.

[2018-06-13 01:34] pensivebrian commented on #209
IIRC, the default is behavior should only use vertical output if the query result text is wider than the window. If you want to enable horizontal scrolling on windows, you can:
1) Download less for windows (available [here](https://www.guysalias.tk/misc/less/)) and place it in your path (e.g. C:\Windows\system32)
2) Open the %localappdata%\dbcli\mssqlcli\config file
3) Locate the expand option and

[2018-06-13 16:53] BadSqlPro commented on #209
Thanks for the update. Unfortunately, the binaries for Win32 at the link you provided are not extractable. I keep getting this error "Extracting less-530-win32-static-x86\less.exe 	Unknown compression method"
I even sent an email to the gentleman hosting the binaries. And since this is not some thing that is widely available and  easy to install, I think you should distribute the less utility and

[2018-06-13 16:54] BadSqlPro opened #211 "Enabling horizontal scrolling as the default behavior or as an option at least"
Please enable horizontal scrolling as the default behavior or at least give this as an option so that we can chose horizontal scrolling when creating a connection.

[2018-06-13 17:17] pensivebrian commented on #209
@BadSqlPro -  Those file have a .7z extension, so you'll need to download [7-zip](https://www.7-zip.org/) to extract the files. After installing 7-zip, you should be able to right click on the less-530-win32-static-x86.7z file and select 7-Zip->Extract Here.

[2018-06-13 17:18] BadSqlPro commented on #209
Oh Okay, will try that now. Thanks for the quick response.

[2018-06-13 17:36] pensivebrian commented on #209
When Windows needs to run an executable, in this case less.exe, there are set of folder where Windows will search to find the executable. These folders that are search are set via the PATH environment variable. If you open a console and type `echo %PATH%` you can see which folders are included.

Since C:\Windows\system32 is already in the PATH by default, and I'm lazy, I just copy utilities like l

[2018-06-13 17:42] BadSqlPro commented on #209
Oh Nice!!!! Thanks you very much for that shortcut! I was actually doing it
this way. Basically I extracted the fodler to C:\Program Files
(x86)\less-530-win32-static-x86 and after that I went to the Environment
Variables settings and included this folder. I think this should also work.
If not then I will copy the less.exe into the  C:\Windows\system32 folder.

Just that one Less.exe needs to be p

[2018-06-13 17:50] pensivebrian commented on #209
I did both.

[2018-06-13 18:01] BadSqlPro commented on #209
Gotcha! I did that and I have not restarted the computer though but here is
the output after following all the steps you mentioned. So instead of
horizontal scrolling, there is a weird word wrapping going on. Check out
the screenshot.

On Wed, Jun 13, 2018 at 12:51 PM pensivebrian <notifications@github.com>
wrote:

[2018-06-13 21:14] pensivebrian commented on #209
I'm not seeing any screenshots. Can you email me at b r o n e i l l @ m i c r o s o f t . c o m and I can help troubleshoot this?

[2018-06-19 07:09] LeeiFrankJaw commented on #163
I have the same problem.

    mssql-cli -S 'server,port -d 'dbname' -U 'username' -P 'password'

The above command gives the following error message.

    Error message: Connection Timeout Expired.  The timeout period elapsed during the post-login phase.  The connection could have timed out while waiting for server to complete the login process and respond; Or it could have timed out while attempt

[2018-06-19 14:53] chriswolf-nrg commented on #163
The version that works for me is `0.13.0`.  I should also mention that my environment is WSL (Windows Subsystem for Linux) with Ubuntu `16.04.2`.  https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux

[2018-06-19 15:41] LeeiFrankJaw commented on #163
My `mssql-cli` version is also `0.13.0`, but I ran it under a true Linux environment (Ubuntu 16.04.4 LTS).  The standard command [`sqlcmd`](https://docs.microsoft.com/en-us/sql/tools/sqlcmd-utility?view=sql-server-2017) works but `mssql-cli`  doesn't.  This really indicates a problem with `mssql-cli`.

[2018-06-27 08:45] nguymin4 opened #212 "Connection timeout when connect using ssh tunneling"
Currently, I am able to connect to sql server using ssh tunneling using a nodejs package. However I cannot do the same with  mssql-cli. The command I tried is:
[code]

Error message:
[code]

[2018-07-02 18:40] MrMeemus commented on #210
0.14.0 was a officially signed release.

[2018-07-02 18:40] #210 closed

[2018-07-02 20:21] MrMeemus commented on #189
There was a method that previously blocked integrated auth on non windows platforms due to the limitation in .Net Core prior. This has been fixed in #214 and will be slated for 0.15.0 release. Thanks all!

[2018-07-02 20:21] #189 closed

[2018-07-03 14:43] apisarenco commented on #105
[code]

[2018-07-03 20:47] #208 closed

[2018-07-04 08:31] smithaitufe commented on #84
It seems this was not fixed. I am still not able to cancel running query in VSCode. I am using Ubuntu

[2018-07-05 19:02] #203 closed

[2018-07-17 01:54] spboyer opened #218 "Installation Issues - dependencies needed unresolved"
## Issue

[code]
**OS**
MacOS High Sierra 10.13.4

**python info**
Python 2.7.10
/usr/bin/python

**pip info**
Version : `pip 10.0.1 from /Library/Python/2.7/site-packages/pip (python 2.7)`
where:
[code]
Azure CLI was installed, not using `pip` but by `brew install` per the docs.
Azure version: **2.0.33** referencing python 3.6 (required) in the following location: `Python location '/usr/local/opt

[2018-07-17 21:13] MrMeemus commented on #218
@spboyer, can you share the install command? It's strange that it is looking for Azure-CLI as we don't have that as a dependency for mssql-cli.

[2018-07-18 15:56] spboyer commented on #218
ran `pip install mssql-cli -v`
[code]

Does install... still shows errors, but runs?

[2018-07-24 19:41] szahn opened #219 "OpenSSH Render Glitches"
Host: Windows server 1803 with OpenSSH
Client: Windows 8 Bitvize OpenSSH client

Note in the screen recording animation that after I enter the query "Use master;Create Database Test;Go;" no output is produced so I don't know the result of the query. After typing in "Select * from sys.objects" the autocompletion rendering is glitchy making productivity very difficult.

![2018-07-24_12-37-52](https:

[2018-08-23 03:52] tangguochang opened #220 "can I set MultipleActiveResultSets to false when using this client?"
can I set MultipleActiveResultSets to false when using this client?
how?

[2018-09-13 14:20] aflansburg commented on #98
Judging by the inactivity there may not be much interest in addressing this, but this is still persistent in Windows 7. Looking at my processes I can see the MicrosoftSqlToolsServiceLayer.exe is using 790MB. Attaching a debugger to this process didn't provide any useful information, but it could be the culprit.
![2018-09-13 09_17_16-windows task manager](https://user-images.githubusercontent.com/1

[2018-09-15 21:13] thorstenkampe opened #221 "Wrong table completion after database change"
After switching databases with `use another_db` tab completion for tables - for instance after `select * from <TAB>` completes still from the tables of the previous database, not the current one.

Other members of the `dbcli` family complete tables from the current database.

[2018-09-16 11:30] thorstenkampe opened #222 "Named queries not loaded or saved to config files"
When using a non-default config file (`--mssqlclirc`) named queries are neither loaded from nor saved to the config files. Instead they are loaded from and saved to the default config file.

[2018-09-27 14:37] mycaule opened #224 "Execute SQL script from file"
Is there a similar way to execute `.sql` files like to `psql -f` ?

Thank you.

[2018-09-28 10:29] m3asmi commented on #101
fixing it by installing by pip2
`pip2 install mssql-cli`

[2018-09-29 08:39] thorstenkampe opened #226 "Upgrade to prompt_toolkit 2.0"
prompt_toolkit 2.0 is now pulled in by pgcli and IPython which in turn results in mssql-cli failing to start.

See https://github.com/dbcli/pgcli/pull/826

[2018-09-29 22:02] thorstenkampe commented on #212
Try `127.0.0.1` instead of localhost. That is a known issue with `mssql-cli` and also `sqlcmd`.

[2018-09-29 22:11] nguymin4 commented on #212
Thanks for your advice but I tried both before submitting the issue.

[2018-09-30 14:51] mycaule commented on #224
Found it my self. For those who were looking you need to install `mssql-tools` from
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-tools?view=sql-server-2017

[2018-09-30 14:51] #224 closed

[2018-10-11 21:09] MrMeemus commented on #226
@thorstenkampe , I don't quite follow. How is mssql-cli failing to start? I don't see the correlation as we don't pull in pgcli nor IPython...  Can you share a screenshot of your issue?

[2018-10-11 21:30] MrMeemus commented on #117
Closing due to inactivity. @philcart  please reopen if you are still facing the issue.

[2018-10-11 21:30] #117 closed

[2018-10-12 05:12] thorstenkampe commented on #226
@MrMeemus  prompt_toolkit 2.0 is incompatible with 1.x. All dbcli applications are affected, pgcli und mycli have already upgraded or are in progress of doing so (see https://github.com/dbcli/mycli/pull/614).

Of course mssql-cli does not depend on pgcli or IPython. I mentioned these just as examples of popular applications which  - when upgrading - will pull in prompt_toolkit 2.0 and thus will ma

[2018-10-15 13:13] tsroten commented on #226
@thorstenkampe Installing mssql-cli via [pipsi](https://github.com/mitsuhiko/pipsi) could be a workaround for this.

[2018-10-21 15:03] cs01 opened #227 "use of `scripts` in setup.py causes errors with virtualenvs"
When running `mssql-cli` from within an activated virtualenv, everything is fine because the virtual env's `python` is the first match on the PATH. However, when invoking `mssql-cli` from `myvenv/bin/mssql-cli` while the virtual environment is **not** activated, we get
[code]
as noted in https://github.com/cs01/pipx/issues/12.

This is because the script `mssql-cli` is custom made and hardcoded to

[2018-10-26 17:56] MrMeemus commented on #227
@cs01  thanks for being so proactive with this issue! The only concern I had is if we are not referencing the scripts any more we lose the IO Encoding. This would affect us when we support pipeable output, which we can revisit when we cross that bridge.

I'll go ahead and merge your change. Thanks again!

[2018-10-26 18:05] #227 closed

[2018-10-26 18:14] cs01 commented on #227
I just realized the two scripts that are no longer used should be deleted as well. I didn't do that in the PR.

[2018-11-09 22:06] yualan commented on #221
I repro-ed this as well, team will investigate

[2018-11-12 11:22] dheitmann88 opened #230 "Installation on Windows exiting with Error "not a supported wheel on this platform""
Installation on Windows exiting with Error "not a supported wheel on this platform"

Installation Command and Error:
O:\Installationssourcen\MSSQL_CLI_preview>pip install mssql_cli-dev-latest-py2.p
y3-none-win_amd64.whl
mssql_cli-dev-latest-py2.py3-none-win_amd64.whl is not a supported wheel on this
 platform.

Python Version:
O:\Installationssourcen\MSSQL_CLI_preview>python -V
Python 3.7.1

Pytho

[2018-11-16 19:09] Blackbaud-JasonBodnar commented on #163
I have the same issue with `0.15.0`.

[2018-11-18 08:10] twright-msft commented on #172
check out this project:
https://github.com/Microsoft/mssql-scripter
We really just need to integrate that tool into mssql-cli.

[2018-11-18 08:15] twright-msft commented on #195
Thank you!  That was super annoying.  lol

[2018-11-19 18:42] yualan commented on #172
Integrating mssql-scripter into mssql-cli is part of our roadmap for mssql-cli.

[2018-11-29 09:17] anton-johansson opened #231 "Raw text output"
Is it possible to somehow output the result as raw text? For example, if I have a script that generates markdown, I'd like to avoid all the pipes and stuff that wraps the output. For example:

[code]

... would be nice to output as just:
[code]

[2018-12-03 10:07] dheitmann88 commented on #230
We found a solution for it. But installing MSSQL-CLI or AzureDataStudio Notebooks without direct internet  connection is really awful, because you have to install many packages that are needed manually.

[2018-12-04 13:26] Strijd opened #232 "is there a way to execute sql scrips in "onlliner" style"
Hi
I'm trying to run an sql query without having the prompt:
`mssql-cli -S mighty  -U <some_user >-P <some_password>  bla.sql`
Always fails with python exceptions
Is there a similar action ?

[2018-12-04 19:09] MrMeemus commented on #232
@Strijd currently we only support the interactive experience. In the future we will look into adding piping support. Thanks!

[2018-12-04 19:09] #232 closed

[2018-12-04 19:10] MrMeemus commented on #231
@anton-johansson mssql-cli does not expose any config to change this setting as of now.

[2018-12-04 19:13] MrMeemus commented on #230
@dheitmann88  what was your work around? what was your set up tools version? Regarding offline installs, that is the nature of most python packages now since we have to connect to the python repository. A alternative is you can install a virtual env after installation and zip up the contents of that folder and reactivate the virtualenv on other machines.

[2018-12-07 11:15] dheitmann88 commented on #230
@MrMeemus i checked which Python Packages i would be able to Install and got the package ai am able to install, after i manually installed all the prerequesite packages. so it finally workded. I will test the virtural env for sure, because installing it this way, wasn't a way to do it on multiple servers.

[2018-12-10 23:16] vmario89 commented on #152
Hey, i got the exact same problem with that package. After installing msql the command mssql-cli is not available. I tried the --user option and tried without. No difference.

/usr/local/bin/pip
pip 18.1 from /usr/local/lib/python2.7/dist-packages/pip (python 2.7)
/usr/bin/python
Python 2.7.15rc1 (default, Nov 12 2018, 14:31:15)

Name: pymssql
Version: 2.1.4
Summary: DB-API interface to Microsoft

[2018-12-10 23:31] MrMeemus commented on #152
@vmario89 did you install via pip? The recommended install for Linux is via apt-get mssql-cli. Can you give that a try?

[2018-12-10 23:36] pensivebrian commented on #152
@vmario89. Also, it looks like you have a very old version of mssql-cli installed. Can you try upgrading with following command:

`pip install --upgrade mssql-cli`

[2018-12-11 13:02] vmario89 commented on #152
Hi, thanks for the answer. This is not possible because there is no precompiled package for my armv7 system. I wanted to install it on an Odroid (its like a Raspberry Pi).

I solved myself using another server (using Ubuntu 18) - there it's fine

[2018-12-11 18:33] pensivebrian commented on #152
@vmario89 - dang, I missed the arm bit you originally mentioned. mssql-cli on arm currently isn't supported. Out of curiosity, would you mind sharing your use case for wanting mssql-cli on arm?

[2018-12-12 20:56] EvanCarroll commented on #101
I'm totally confused. I'm also having this problem. Why are people using pip2, and python2? Does the cli not work with python3?

[2018-12-12 21:50] pensivebrian commented on #101
mssql-cli supports both python 2.7 and 3.4+ and we leave it up to the user choose. For most Linux distributions, pip and python defaults to 2. I think Red Hat 8 (in beta) will be the first big distro to default to 3.

We generally see this error when multiple versions of python are installed, but pip runs from one location, and python from another. Running 'whereis python' or 'whereis pip' on the

[2018-12-13 00:52] EvanCarroll opened #233 "Python3 Support"
It would be my advice to on Debian/Ubuntu systems to only ever support installs on Python3 which is shipped by default. To do this, you need to use

    pip3 install --user mssql-cli

Then what needs to happen in `./.local/bin/mssql-cli` is that you need to check (with `command -v python3 && python3 -m .... || python2 -m ...`) this will solve all of your problems on Debian/Ubuntu and not break any

[2018-12-13 01:54] EvanCarroll commented on #233
#234

[2018-12-18 14:11] toddcarr opened #235 "Using CTRL + D to shutdown mssql-cli. I receive a sql tools service message."
When i use CTRL + D to shutdown mssql-cli. I receive a sql tools service message.
"Sql Tools Service process was not shut down properly.Goodbye!"
Is this something i need to install? I have downloaded the zip file but i am not sure how to install it.

[2018-12-18 16:45] anton-johansson commented on #231
Allright! Can we consider this a feature request? Obviously not a show-stopper for me, I'll be using the tool anyway. But it would be a nice-to-have feature.

[2018-12-18 17:39] MrMeemus commented on #235
Sql Tools service is the API server that is bundled with mssql-cli. Receiving this message could mean that shutdown was initiated mid execution against the server. It's not necessarily harmful, but you should verify that there isn't a SQL Tools service process running via task/process manager.

Does this occur every time? @toddcarr

[2018-12-19 04:45] gbonazzoli commented on #219
The auto completion transformed the "use master" in "user master".
Probably this typo has invalidated the entire command's row.

Regards.

[2018-12-20 15:54] toddcarr commented on #235
Should i see this service running as a process or service? I do not see either one.

[2019-01-02 12:54] bcascino opened #236 "mssql-cli xubuntu 18.04 32 bit command not found and others problems"
Hi everyone,
I installed mssql-cli via pip, both on python2 and python3 (using pip2 and pip3). The installation is successfull, but when I type mssql-cli this message comes out: command not found.
I thought it was a problem setting the PATH variable, but mssql-cli doesn't exists in any directories.
Can anyone help me? Is It a problem related to the fact that I have a 32-bit o.s.?

[2019-01-07 20:08] MrMeemus commented on #236
@bcascino, we don't officially support Ubuntu 18 just yet, but you can give our Ubuntu 17 install steps a try. https://github.com/dbcli/mssql-cli/blob/master/doc/installation/linux.md#ubuntu-1704

if you prefer to use the pip route, can you share the output for "pip show mssql-cli"

[2019-01-08 16:00] toddcarr commented on #235
The problem does not occur everytime.

[2019-01-09 18:48] dooliecakes commented on #139
Is there an update on this request? I would love to be able to script queries via something like --query "select bla from bla" or a --file <filename> mechanism. Thanks for creating a great tool for the community.

[2019-01-10 23:21] MrMeemus commented on #139
@dooliecakes this feature is on our immediate timeline now. Will share updates as we proceed! Thanks all for the upvotes!

[2019-01-14 00:49] limup opened #237 "Error install mssql-cli on fedora 29"
Hi,

I'm get error on Fedora 29.

No match for argument: mssql-cli
Error: Unable to find a match

How I resolve this?

[2019-01-19 17:14] jankatins commented on #202
See also https://github.com/dbcli/mssql-cli/issues/105

[2019-01-23 20:59] limup commented on #237
All,

I solved this problem.
Thanks for nothing. =)

[2019-01-23 20:59] #237 closed

[2019-01-23 21:32] MrMeemus commented on #237
@limup, sorry for the delayed response. I'm curious to your fix if you can share it please.

[2019-01-26 22:54] limup commented on #237
No problem, simply, I downloaded the [.rpm](https://github.com/dbcli/mssql-cli/tree/master#get-mssql-cli) package from the Fedora 26 version and executed the following commands:

[code]

I think the package does not exist in the Fedora 29 repository.

See ya.

[2019-01-28 15:31] JamesCass commented on #105
First, thanks to the whole DBCLI team for making such a great tool!  Like @jankatins mentioned, I too have been using sqsh, but it hasn't gotten much love lately, so I'd love to replace sqsh with mssql-cli.  Being able to pass SQL commands to mssql-cli through stdin and getting results in stdout would really amplify mssql-cli's usefulness with scripting and automation.  Is there any work being don

[2019-01-28 17:46] MrMeemus commented on #105
@JamesCass, thanks for the comment! Yes we are planning on updating the tool so we can target those specific scenarios regarding automation and scripting. A rough ETA would be some time March - April time frame.

[2019-01-28 17:51] JamesCass commented on #105
That sounds great @MrMeemus !  Thanks!

[2019-01-28 19:56] EvanCarroll commented on #226
Without hacking around it, this is the error you should receive.

[code]

[2019-01-28 19:59] EvanCarroll commented on #226
If anyone wants to take this backport up from pgcli,

* https://github.com/dbcli/pgcli/commit/392491a74d2d8abcb2c0db5230fc7f11502c6ba9

[2019-01-29 23:41] MrMeemus commented on #226
I have all the code changes in on my new branch. Will have to test a few scenarios before sending out PR. Thanks all!

[2019-01-31 12:44] MiguelAtTweddle opened #238 "Always Encrypted"
Is it possible to use mssql-cli with a database which has Always Encrypted feature on certain fields?

[2019-02-04 02:29] 0clickjacking0 opened #239 "Install mycli and mssql-cli conflicts at the same time"
I have a problem.My os is Windows10.In my computer have python2.7 and python3.7,the python2.7 is in C:\,and the python3.7 is in E:\,they are not in conflict.My command to download mycli is 'pip3 install mycli',and my command to download mssql-cli is 'pip3 install mssql-cli',If I only install mycli, then mycli can use,but if i install mycli and mssql-cli,they can't work.Please help me, I have been

[2019-02-04 04:59] MrMeemus commented on #239
Hi @0clickjacking0 , This issue is due to the dependency on prompt tool kit which mssql-cli has not been updated to version 2.0 , which is the version now installed by mycli. I have a branch out with this update and will send out a PR shortly after more testing. Sorry for the inconvenience, it should be fixed within the next week!

[2019-02-04 05:32] 0clickjacking0 commented on #239
OK ，Thanks! @MrMeemus

[2019-02-08 22:01] j-bennet opened #241 "List index out of range on `\dt` command"
Found this when testing the 2.0 PR with `dbcli-test` database:

[code]

it's also broken in master, so not related to the prompt-toolkit upgrade.

[2019-02-10 20:17] gseidel opened #242 "Execute sql command on cli like -Q in sqlcmd"
Is there any way to execute a sql command directly from cli?

Like -Q option in sqlcmd

It would be nice to have something like `mssql-cli -Q 'SELECT * FROM table'` with output on stdout

[2019-02-11 01:41] JamesCass commented on #242
I don't want to speak out of turn, but this is being addressed in Enhancement Issue #105 .

[2019-02-12 17:12] mertuarez opened #243 "GSSAPI operation failed with error - An invalid status code was supplied (Server not found in Kerberos database)."
mssql-cli try only default_realm in /etc/krb5.conf
if mssql has another realm than default it will throw exception.

Error message: Cannot authenticate using Kerberos. Ensure Kerberos has been initialized on the client with 'kinit' and a Service Principal Name has been registered for the SQL Server to allow Kerberos authentication.
ErrorCode=InternalError, Exception=Interop+NetSecurityNative+GssAp

[2019-02-14 19:07] notaduck opened #244 "ImportError: cannot import name 'PathCompleter'......."
I've installe mssql-cli through the AUR repository however I get the error you can see in the paste if I try to connect to a server?

[code]

[2019-02-14 22:38] MrMeemus commented on #244
@notaduck , Do you have prompt tool kit 2.0 installed? perhaps from a mycli or pgcli install? This issue is basically a clash in the dependency of prompt tool kit between mssql-cli and pgcli etc. I have a PR out for updating our dependency that should fix this issue. For now I would recommend installing mssql-cli in it's own virtual environment to avoid cross dependency conflicts.

[2019-02-15 05:16] notaduck commented on #244
Yup, I've mycli installed. I guess that is the issue then.
Thanks for the quick reply!

On Thu, 14 Feb 2019, 23:38 Ronald Quan <notifications@github.com wrote:

[2019-02-20 15:44] #244 closed

[2019-02-27 11:11] mengfankitty opened #245 "Column content that wider than the terminal with will be truncated"
[code]

[2019-02-27 20:45] cs01 commented on #227
Sorry, I never responded to this. If a virtual environment is not activated, then these entry points are not available on your $PATH.

If this is the case, then the entry points are also not available on your $PATH.

[2019-02-27 22:21] eliot1785 commented on #101
I'm also having this issue. On my Mac like most Macs I think, pip and python refer to 2.x, the system-provided python. I also have Python3 installed using homebrew, so pip3 and python3 refer to that. I installed mssql-cli using pip3 and got the aforementioned issue when I tried to run it.

Note that this wasn't a case of "pip runs from one location, and python from another." Both pip and python re

[2019-03-07 09:48] bcascino commented on #236
bart@bcascino-linux:~$ pip show mssql-cli
Name: mssql-cli
Version: 0.3
Summary: A way to run queries and execute commands against an MSSQL database.
Home-page: http://github.com/seanchon/mssql_cli/
Author: Sean Chon
Author-email: s@seanchon.com
License: MIT
Location: /home/bart/.local/lib/python2.7/site-packages
Requires: pymssql

[2019-03-08 15:47] ljagadeesh06 commented on #105
@MrMeemus This is a much needed feature. I am happy to involve in any testing/bug fixing.  Thanks!

[2019-03-11 10:22] petobens opened #247 "Can't use master branch with pip installation"
Hi! This is a follow-up of the discussion in #229: basically if I install `mssql-cli` latest stable release with pip by doing
[code]
then I can connect to a db by running something like `mssql-cli -S host -U user -P password` without any problems. However when I install the latest  (master) version by virtue of
[code]
then the package is correctly installed but when attempting to connect to a data

[2019-03-15 11:26] chrysophylax opened #248 "Unable to connect to server"
Hi,

I am unable to connect to a SQL Server 2016 running on the standard port 1433 on a Windows Server, but succeed in connecting with sqlcmd.

- **Expected**: Successful connection to SQL Server as with sqlcmd on port 1433.
- **Actual**: Error, Connection reset by peer.

I have installed mssql-cli v0.15 using Direct Download and the RHEL default pkg manager yum.

- Distribution: Red Hat Enterpris

[2019-03-15 11:52] chrysophylax commented on #248
Talking with our technician for the SQL Server, he saw multiple connection errors that with the Profiler activated showed that `sqlcmd` correctly logins but `mssql-cli` (here shown as "Microsoft SQL Server Management Studio") does not work.
![image](https://user-images.githubusercontent.com/10576351/54429509-067f2700-4721-11e9-8f1a-734bfb3b82d0.png)

[2019-03-18 17:22] jrhege opened #249 "Display full statistics time output"
Given the following statements:

[code]

Two statistics time messages are output in SSMS: One for "parse and compile" time and one for "execution time".  mssql-cli only outputs "parse and compile" time.  Both messages should instead be returned.

I'm on version 0.15.0.

[2019-03-19 09:54] cvarta commented on #248
@chrysophylax I encountered the same error on my first login attempt. Which version of the mssql-cli were you using?

In my case  a second connection attempt was successful. Did you try to connect again?

[code]

[2019-04-02 21:36] chrysophylax commented on #248
Yes @cvarta we tried quite a few times.

[2019-04-08 18:08] sudeepjana commented on #139
Is there any further updates on this? I'd love to be able to run queries from a file as well, so we can integrate this tool into our automation pipeline.

[2019-04-08 18:44] mikedavem commented on #139
+1 .. using mssql-cli in automation pipeline would be appreciated :)

[2019-04-09 16:16] gdzwrk commented on #221
I am still experiencing this- if I connect using the `-d` option and specify my database, I receive proper table/view/FK completion suggestions.  If I omit the -d, by default it connects to the 'master' db.  If I then `use other_db` I am still only shown completion suggestions from master.

For now I am working around this by specifying the -d option when invoking the program.

[2019-04-09 17:04] shuadoc opened #250 "Semicolons should be required regardless of Multiline"
Hello,

First of all, thank you for all your work on this tool :)

It was not immediately apparent to me moving from `psql` that hitting `return` would immediately execute the query without a semicolon.  Given https://github.com/dbcli/mssql-cli/issues/175 , it appears that multi-line mode will end with a `GO` rather than a semicolon.  I recommend altering tool behavior to not execute the query unl

[2019-04-10 21:51] u0m3 opened #251 "Connect using Windows Credentials without Kerberos/Active Directory"
Is it possible to connect to a MS SQL instance running on a computer that is not part of a Active Directory with a Windows account?

[2019-04-23 11:04] anton-johansson opened #252 "Ubuntu 19.04, libssl"
I upgraded to Ubuntu 19.04 the other day, and now I get this:
[code]

Seems related to:
Microsoft/azuredatastudio#5134
Microsoft/vscode-python#5373
OmniSharp/omnisharp-vscode#3010

[2019-04-23 17:17] byroniac commented on #252
Copied from other forum: I'm on Ubuntu 19.04 (Disco), but what seems to work is installing the Ubuntu 18.10 (Cosmic) libssl1.0.0 package, even though it's older than the bundled Disco package, from the link below. However, I don't know if this will introduce any system instability or issues. And I don't know if this will work on Pop! OS.
[https://packages.ubuntu.com/cosmic/libssl1.0.0](https://pac

[2019-04-24 07:55] anton-johansson commented on #252
Thanks, @byroniac, that worked.

What I did:
[code]

Both versions are now installed, and everything works as expected.

[2019-04-24 07:55] #252 closed

[2019-04-24 22:23] eDaddi commented on #139
This would be incredibly helpful.  Subscribed......

[2019-04-25 16:30] dianhenglau commented on #247
Hi. This is my workaround.

1. Download [Microsoft SQL Tools Service Layer](https://github.com/dbcli/mssql-cli/raw/master/sqltoolsservice/manylinux1/Microsoft.SqlTools.ServiceLayer-linux-x64-netcoreapp2.1.tar.gz) from `dbcli/mssql-cli/sqltoolsservice/manylinux1`.

2. Go to `mssqltoolsservice` directory, i.e. `cd /<user_local>/lib/python3.7/site-packages/mssqlcli/mssqltoolsservice/`.

3. Create a `

[2019-04-29 01:07] jerome-peng opened #253 "The SQL Server instance returned an invalid or unsupported protocol version during login negotiation"
my sqlserver version is 2000, after installed myssql-cli, i get the below error:

c:\java\python>mssql-cli -S 192.168.99.1,3433 -U sa -d ranqi
Password:
Error message: The SQL Server instance returned an invalid or unsupported protocol version during login negotiation.

[2019-04-30 01:35] JamesCass commented on #105
I just wanted to see how the work on this was going.  To be able to pass a SQL query through stdin and get results from stdout.  No pressure :-)  Thanks!

[2019-04-30 08:10] jankatins commented on #105
A workaround using odbc drivers: https://github.com/kfzteile24/sqpy

[2019-05-20 20:21] techvslife commented on #226
I'm adding details on the installation issue with mssql-cli caused by the dependence on an old version of prompt-toolkit:
Installing this on win10 x64 using pip auto-downgrades (without choice) prompt-toolkit to 1.x, which is a conflict with jupyter and ipython:
[code]
I had to manually upgrade it back:
`pip install --upgrade prompt-toolkit`

But that means a conflict with mssql-cli:
`mssql-cli 0.

[2019-05-20 20:32] techvslife commented on #226
Here is the text of the error that results when trying to use mssql-cli with the newer (2.x) version of prompt-toolkit (when trying to login in to an sql server database):

[code]

[2019-06-03 22:21] noraj commented on #226
[code]

With 2.0.9

[2019-06-03 22:32] noraj commented on #226
Workaround with a python3 virtual env:

[code]

[2019-06-03 22:44] noraj commented on #253
`Error message: The SQL Server instance returned an invalid or unsupported protocol version during login negotiation.` with `Microsoft SQL Server 2000 8.00.766.00; SP3a`, `Product_Version: 5.2.3790`.

[2019-06-03 22:44] noraj commented on #253
What are supported versions?

[2019-06-28 15:02] travellingprog opened #257 "Add build for Ubuntu 18.04 in package repository"
It seems that currently the stance is that Ubuntu 18.04 is not officially supported. However, mssql-cli does seem to work for Ubuntu 18.04 and over a year has passed since 18.04 was released.

After taking a looking at this issue: https://github.com/dbcli/mssql-cli/issues/204, I ran `sudo apt-get install libicu60`.

I then installed mssql-cli using `pip`. Only issue I ran into is that I initially

[2019-07-03 16:12] JamesCass commented on #105
Just wanted to see how the progress was going for this enhancement.  Thanks in advance!

[2019-07-12 20:35] petobens commented on #247
This indeed works. It would be good if someone could create a PR with. Thanks!

[2019-07-29 20:36] pensivebrian commented on #253
mssql-cli supports the same SQL Server versions supported by Microsoft, which is SQL Server 2008 and above. Previous versions such as SQL Server 2000 and 2005 are not supported. That said, mssql-cli should still work with SQL 2005.

[2019-07-29 20:36] #253 closed

[2019-07-29 20:45] pensivebrian commented on #238
Not at the moment. mssql-cli uses the .NET Core System.Data.SqlClient driver to connect to SQL Server, and this driver does not yet Always Encrypted columns.

If/when support is added to the Microsoft.Data.SqlClient driver for Always Encrypted, we'll make the move to this driver. Microsoft.Data.SqlClient support Always Encrypted is tracked by issue https://github.com/dotnet/SqlClient/issues/11.

[2019-08-09 23:54] #221 closed

[2019-08-12 11:35] andb0t opened #265 "Default location for mssqlclirc"
Hi everyone,

I'd like to put my custom `mssqlclirc` in a default location, such that `mssql-cli` picks it up automatically. I have searched the docs, but it's not there. I'm working on Ubuntu, so I thought it might be `~/.mssqlclirc` but that's not the case. I have to specify it explicitly. I'd like to avoid creating an alias to keep my environment clean. Is there a default location for the rc fi

[2019-08-14 17:35] pensivebrian commented on #226
The upgraded to prompt_toolkit 2.0 has been completed in the 0.16.0 release available on pypi. We'll be pushing out .deb and .rpm packages soon.

[2019-08-14 17:35] #226 closed

[2019-08-14 17:37] pensivebrian commented on #239
The mssql-cli 0.16.0 release supports prompt_toolkit 2.0, so mycli and mssql-cli should now be compatible.

[2019-08-14 17:37] #239 closed

[2019-08-15 06:09] thorstenkampe commented on #265
The default configuration file on Linux is is called `config` and it's located in ` ~/.config/mssqlcli` where `~` stands for your home directory (`/home/<user>` in most cases).

[2019-08-17 14:47] andb0t commented on #265
Thanks :) I'd like contribute by documenting this. Could you tell me where this should go? Then I can send a PR

[2019-08-17 17:49] thorstenkampe commented on #265
Probably into `README.rst` because this is the landing point for anyone interested in `mssql-cli`.

[2019-08-18 15:35] pensivebrian commented on #247
Is there a specific reason to use pip+git to install?

The downside I see is package size. We ship a native dependency, so we actually upload 4 platform specific mssql-cli wheels to pypi. Depending on the platform running the pip command, the appropriate wheel is downloaded which only has the binaries specific to the platform. This keeps each wheel on pypi much smaller since pip+git includes nativ

[2019-08-18 15:40] petobens commented on #247
I believe it's a natural/normal use case to use pip to install dev versions of a python library through pip. Is there a valid/better alternative?

[2019-08-18 16:00] pensivebrian commented on #247
Running dev_setup.py will take care of unpacking the appropriate native binaries and installing dev dependencies.

Our current setup instructions:
https://github.com/dbcli/mssql-cli/blob/master/doc/development_guide.md#development-setup

Does this look reasonable?

[2019-08-18 16:03] pensivebrian commented on #247
Or, the following command will install the latest build from master:

`pip install --pre --no-cache --extra-index-url https://mssqlcli.blob.core.windows.net/daily/whl mssql-cli`

[2019-08-18 16:10] petobens commented on #247
Thanks for that. My question however was if we could somehow make the following (customary) incantation work:
[code]
since this is how most libraries are installed using pip+git.
I guess  the is answer seem to be "no" or "not for the time being"?

[2019-08-18 17:41] pensivebrian commented on #247
Not for the time being. If this is a common use case, I'd like to support it.

I'm going to have to look into this a bit more and see how this [impacts our setup.py](https://pip.pypa.io/en/stable/reference/pip_install/#git) and how we resolve native dependencies at runtime. I'll leave this open and use upvotes to prioritize this work relative to other open issues.

To be honest, I wasn't aware tha

[2019-08-18 17:43] petobens commented on #247
Great. Thanks!

[2019-08-18 17:54] pensivebrian commented on #230
@dheitmann88 - I think creating a windows installer with all dependencies packaged into the MSI would address this issue. I'm closing this, and tracking the windows install with #197.

[2019-08-18 17:54] #230 closed

[2019-08-18 18:01] pensivebrian commented on #233
Sometime you can't control the version of python used, so only supporting python 3 is not yet an option. I'll leave it up to the end user to decide what pip version they want to run: pip or pip3. We have the rpm/apt installs for folks that don't want to use pip.

[2019-08-18 18:01] #233 closed

[2019-08-18 21:24] EvanCarroll commented on #233
You only support distros that already include Python 3 as a default...

[2019-08-19 16:49] pensivebrian commented on #236
@bcascino - it looks like a very old version of mssql-cli is installed. Can you run pip with the upgrade command to pick up the latest version?

`$ pip install mssql-cli --upgrade`

If that still doesn't work, then we may have not published a wheel with the correct platform naming for x86, which we'll have to investigate. In which case, can you run the above command with the `--verbose` parameter

[2019-08-19 18:19] pensivebrian commented on #98
Closing this as won't fix. If click issue https://github.com/pallets/click/issues/905 ever gets fixed, we can take another look.

[2019-08-19 18:19] #98 closed

[2019-08-19 18:23] pensivebrian commented on #143
Closing this as I don't underlying the issue or request with respect to pydocx.

[2019-08-19 18:23] #143 closed

[2019-08-19 18:25] pensivebrian commented on #113
Closing this as it seems to be a libssl configuration issue.

[2019-08-19 18:25] #113 closed

[2019-08-19 18:45] pensivebrian opened #269 "Fix and enable test testspecial.test_list_databases_command"
Test testspecial.test_list_databases_command assumes a single database exists on a server, which isn't going to work against any real server. The test should look for the specific database and ignore others.

[2019-08-19 18:56] pensivebrian opened #270 "Fix and enable test test_special.test_list_logins_command"
The test fails for Azure when more logins than expected are returned.

[2019-09-02 13:18] jdottori commented on #172
Is there any news on mssql-scripter integration into mssql-cli?

[2019-09-04 21:20] alanxoc3 commented on #105
Is this still being worked on? It would also be really useful for vim integration for me.

[2019-09-06 17:57] geleems opened #277 "Select statement with foreign language fails"
Select statement with foreign language fails with error message:
[code]

### Environment:
* Python 2.7
* OS: can repro in any OS

### Repro Steps
1. Create a table of foreign language as following in the target db:
[code]

2. Run select statement in mssql-cli against the target db
[code]

[2019-09-10 01:50] pensivebrian opened #279 "Tests are leaking resources"
The MssqlCliClientTests are creating tables/views/etc but not cleaning them up. Write workloads should be moved to another test and AdventureWorks test should be readonly.

[2019-09-10 01:51] pensivebrian opened #280 "Create database against Azure needs to more resilient."
If the cloud is having a bad day, a create database statement may fail with a command timeout, but the operation may be in-progress. We should check the server sys.dm_operation_status DMV for the status of the create database operation, and poll until the create database operation completes.

[2019-09-10 01:53] pensivebrian opened #281 "Test stability"
We have 2-3 test run failures a week with our dailly runs. Tests need to be more robust (retry logic?) and use unique names so they don't step on each other.

[2019-09-10 17:42] pensivebrian opened #282 "Cleanup code coverage reporting"
Code coverage should be targeted to the product code only.

[2019-09-10 17:53] pensivebrian opened #283 "Fix pep8 issues"

[2019-09-10 20:19] pensivebrian opened #284 "Add globalization unit test"

[2019-09-10 20:42] pensivebrian opened #285 "Move all localized strings to localized_strings.py"

[2019-09-10 23:42] #277 closed

[2019-09-11 02:16] #265 closed

[2019-09-11 17:17] pensivebrian opened #288 "Automated policheck scans"

[2019-09-11 17:18] pensivebrian opened #289 "Add code analysis to the automated build"

[2019-09-11 17:19] pensivebrian opened #290 "Add automated TSA code scanning in lab runs"

[2019-09-11 17:22] pensivebrian opened #291 "Setup po->lcg conversion in the build for localization"

[2019-09-11 17:23] pensivebrian opened #292 "Setup lcg-> conversion in the build for localization"

[2019-09-16 12:03] bjhulst commented on #139
Any update on the timeline for this feature?

[2019-09-16 17:21] pensivebrian commented on #139
No timelines as of yet, but this is at the top of our list to implement once we have resources todo so.

[2019-09-18 06:24] denefer opened #298 "how to Execute command and quit"
hi all:

how to use mssql-cli command to show like "mysql -e 'show databases'"

[2019-09-18 19:22] bjhulst commented on #139
Brian I could free up some time and prepare a PR... just wondering since this is open source backed by Microsoft and needs an IPR related agrreement before submitting code ... will this be like subcontracting for Microsoft and possibly compensated in any way? Just wondering....

[2019-09-18 19:30] jeffhongxiao commented on #298
maybe related: https://github.com/dbcli/mssql-cli/issues/139#issuecomment-531748110

[2019-09-19 17:21] pensivebrian commented on #139
@bjhulst - a PR for this would be appreciated, but there wouldn't be any compensation for this.

[2019-09-19 22:16] pensivebrian commented on #298
This is one the roadmap, but there is not ETA adding this.

[2019-09-22 13:39] peterhel commented on #245
Any news on this one? Or solution?

[2019-09-25 16:08] pensivebrian commented on #236
Closing this due to an out-of-date package being used. Please re-open if this issue persists.

[2019-09-25 16:08] #236 closed

[2019-09-25 16:09] pensivebrian commented on #11
Closing as fixed since we hopped over this version of pytest.

[2019-09-25 16:09] #11 closed

[2019-09-25 16:32] #47 closed

[2019-09-30 21:47] pensivebrian commented on #298
Closing as a duplicate of https://github.com/dbcli/mssql-cli/issues/242, which will be used to track this issue.

[2019-09-30 21:47] #298 closed

[2019-10-01 18:28] yualan opened #305 "Feature Request: Support -i to execute a .sql file"
This is important for sqlcmd parity.

First priority is non-interactive support.
Second is interactive support. special command through -i

https://docs.microsoft.com/sql/tools/sqlcmd-utility?redirectedfrom=MSDN&view=sql-server-2017

[2019-10-01 18:35] yualan opened #306 "Feature request: Support -o to output a file"

[2019-10-02 01:04] ellbosch opened #308 "mssql-cli shows deleted tables"
With local testing, I've confirmed that mssql-cli is displaying tables that have already been removed. This issue appears to be related to mssql-cli, having confirmed that these tables do not appear for ADS, SSDT, or SSMS.

More investigation is needed to understand the root of the issue. There could be caching that's causing this?

[2019-10-04 23:05] ellbosch opened #310 "Fix docs for installation"
The whole section is confusing and needs to be revamped. Creating this issue as a placeholder.

[2019-10-11 22:16] ellbosch opened #311 "Logger is destroyed during shutdown when it's still in use"
We try to use the logger during shutdown but it appears that methods disappear during garbage collection. This issue pops up when shutdown is called in non-interactive mode. [Here's a thread discussing the same issue](https://bugs.python.org/issue26789).

Stack trace:
[code]

[2019-10-17 19:39] ellbosch opened #312 "Create a PR validation build pipeline"
Similar to ADS, we should create a build pipeline that scans a PR.

[2019-10-18 17:24] ellbosch opened #313 "Add IP to firewall when IP not allowed to SQL Azure"
We should include a feature that prompts user if they'd like to add an IP to the SQL Azure instance when the IP is blocked. This is currently supported in ADS.

[2019-10-18 22:19] ellbosch opened #314 "Set less pager by default"

[2019-10-19 02:17] rmpbklyn opened #315 "virtual box ip address"
unable to connect sql server on  vm virtual box with sql express.
it list ie8winxp\sqlexpress ssms
 the ip is internal in vm box and not known outside on the host machine

get error : Error message: A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQ

[2019-10-21 17:32] ellbosch commented on #315
@rmpbklyn I think you may be able to resolve this if you configure the firewall to your SQL Server instance so that it allows your IP.

[2019-10-21 17:33] ellbosch commented on #251
Sorry for the late reply here. Yes, you can log in with SQL login credentials.

[2019-10-21 17:33] #251 closed

[2019-10-21 17:40] ellbosch commented on #315
Closing for now, but please let me know if you run into more issues.

[2019-10-21 17:40] #315 closed

[2019-10-21 17:42] ellbosch commented on #242
For the sake of scoping down the problem—my PR will address -Q without support for piping, but we will address piping in an upcoming update.

[2019-10-22 18:38] ellbosch opened #316 "Special command \o for outputting a query"
Should mimic functionality from pgcli: https://github.com/dbcli/pgcli/pull/483

[2019-10-22 22:59] ellbosch opened #317 "Logger returns NameError in non-interactive mode for Python 2"
`pytest -s tests/test_noninteractive_mode` shows the following warning:
[code]

Looks like the logger is referenced post-deconstruction.

[2019-10-23 00:18] #242 closed

[2019-10-24 17:23] #306 closed

[2019-10-24 17:27] pensivebrian commented on #148
Closing - using #314 to track this.

[2019-10-24 17:27] #148 closed

[2019-10-24 17:28] pensivebrian commented on #209
Closing - using #314 to track this

[2019-10-24 17:28] #209 closed

[2019-10-24 17:30] pensivebrian commented on #235
Recently fixed this with PR #309

[2019-10-24 17:30] #235 closed

[2019-10-25 03:39] ellbosch commented on #292
@pensivebrian could you please provide some more detail for what this is?

[2019-10-25 03:42] ellbosch commented on #291
@pensivebrian: need more info here, thanks.

[2019-10-25 03:43] ellbosch commented on #289
@pensivebrian what sort of code analysis did you have in mind here?

[2019-10-25 04:41] ellbosch commented on #285
@pensivebrian: just checked out the `localized_strings.py` file. How does localization work here? There's currently a single example showcasing possible localization with the `goodbye()` function, can I expect to leverage this pattern for all other localized strings?

[2019-10-25 04:58] ellbosch commented on #282
@pensivebrian what are some examples of non-product code?

[2019-10-25 18:05] #284 closed

[2019-10-25 18:10] ellbosch commented on #281
Related to #280

[2019-10-25 21:15] ellbosch commented on #283
Notes:
* Automated build needs to run pylint (errors, security issues...)
* Find unused methods

[2019-10-25 21:17] ellbosch commented on #283
Related to #289.

[2019-10-25 21:21] ellbosch commented on #288
Notes
* 1ES Wiki
* Create build task

[2019-10-25 21:34] ellbosch opened #322 "Create an sdist distribution"
Needed for brew, may be needed for azdata.

[2019-11-01 20:02] #305 closed

[2019-11-01 23:26] ellbosch opened #328 "Fix imports and methods in special package to conform to PEP 8"
The `special` package currently breaks PEP 8 best practices by importing methods at the bottom of `__init__`, and also likely for the use of the `export` decorator. This package likely needs refactoring.

[2019-11-05 10:42] oguzhantopcu commented on #152
@pensivebrian real example here.

I have a raspberry pi in my customer's environment and I need to connect to the sql server through ssh connection.

I can not do local port forwarding since sql server's named instances does not work via local port forwarding

[2019-11-05 18:09] ellbosch commented on #152
@oguzhantopcu I can help, is this connected with the problems in this thread? If not I recommend you start a new thread with some more details about the problems you're running into, with respect to mssql-cli. Thanks!

[2019-11-05 18:09] ellbosch commented on #152
@oguzhantopcu I can help, is this connected with the problems in this thread? If not I recommend you start a new thread with some more details about the problems you're running into, with respect to mssql-cli. Thanks!

[2019-11-05 18:23] oguzhantopcu commented on #152
I am sorry I thought this thread is about incompatibility between arm and
mssql-cli so I expressed why I need mssql-cli on arm.

5 Kas 2019 Sal, saat 21:09 tarihinde Elliot Boschwitz <
notifications@github.com> şunu yazdı:

--
oguzhan

[2019-11-11 22:28] ellbosch opened #337 "Remove some/all functionality in tests/features directory"
I don't believe the `mssqlcli/tests/features` directory is being used at all. All tests have passed with the folder disabled.

I propose removing this directory altogether, or at a minimum removing unused code.

[2019-11-11 22:54] ellbosch opened #338 "Enable or remove tests in parseutils"
We have passing tests in the `mssqlcli/tests/parseutils` directory but have not enabled them in our integration tests. We should consider using these these or removing the directory if they are no longer relevant.

[2019-11-12 21:27] ellbosch opened #339 "Consider removing unused test scripts"
Two scripts that were brought over from the original fork of pgcli: `test_smart_completion_multiple_schemata.py` and `test_smart_completion_public_schema_only.py` are unused by mssql-cli. We should consider removing these scripts.

[2019-11-14 18:06] ellbosch opened #343 "Support Python 3.8"
To-do items include:
- [ ] Fix warning in tests for deprecated method (pasted below)
- [ ] Add tests in tox and update build pipelines for 3.8
- [ ] Consider adding badges for support on docs page ([link here](https://github.com/Naereen/badges#pypi-python-versions))

Mentioned warning below:
[code]

[2019-11-15 18:16] ellbosch opened #344 "Investigate test failure for test_schema_metadata_tibetian"
Stack trace:

[code]

[2019-11-15 18:18] ellbosch opened #345 "Investigate test failure for test_show_function_definition_command"
macOS build failed on 11/13. Marked as a `test teardown failure`. Stack trace:

[code]

[2019-11-15 19:36] ellbosch opened #346 "Improve our understanding of feature usage"
Very little is understood about which features (i.e. special commands, auto-completion, non-interactive mode, etc.) are getting used by mssql-cli customers. We can't improve support of our most popular features if we don't know what they are.

We need to investigate which features we want to track usage for and create clear and distinct [OKRs](https://weekdone.com/resources/objectives-key-results)

[2019-11-15 22:27] ellbosch opened #347 "Timeout in test_globalization.py"
The macOS build has timed out on 11/15 during globalization tests (for Python 3.6). Further investigation/validation needed.

[2019-11-18 21:27] #279 closed

[2019-11-18 23:49] ellbosch opened #350 "Improve exception handling in jsonrpcclient"
The `jsonrpcclient.py` file has two instances of generic exception handling. Generic exception handling breaks PEP 8 and can make debugging issues more difficult, especially since exceptions are suppressed.

Although we are logging exceptions, I recommend re-working this logic. If we choose to keep generic exception handling then we may at least consider simplifying instances of redundant code whe

[2019-11-19 02:02] ellbosch commented on #280
Note: leverage dacfx create db modifier.

[2019-11-19 19:58] ellbosch opened #352 "Improve debuggability in event of test failure"
Tracking an upstream issue with pytest [here](https://github.com/pytest-dev/pytest-cov/issues/362).

[2019-11-19 22:50] ellbosch opened #353 "Logging files are massive"
My machine's log files are in the order of 100's of MBs. We need a solution to limit the size of these logging files.

It appears that jsonrpc logging may be largely responsible here.

[2019-11-19 23:36] ellbosch commented on #352
Confirmed this isn't an upstream issue—we can resolve this using the `-l` flag.

[2019-11-20 21:12] #352 closed

[2019-11-21 18:17] ellbosch opened #356 "Add mssql-cli to mssql-docker container"
This work must follow after #257.

The mssql-docker container is getting 5-7K pulls per day, more info [here](https://github.com/microsoft/mssql-docker).

[2019-11-22 00:32] ellbosch opened #357 "Refactor sqlcompletion.py"
pylint does a good job listing the inherent issues here. There are some really crazy methods here with as many as 44 branches. This script needs a proper refactor.

[2019-11-22 04:26] ellbosch opened #358 "Refactor JSON RPC Request class"
There's redundant code littered through JSON RPC.

Also need to fix PEP 8 issues (#351).

[2019-11-22 19:37] ellbosch opened #359 "JSON RPC exception suppressing"
There are quite a few areas in the JSON RPC module where exceptions are being suppressed. I believe we should be raising exceptions here, or at the very least providing more information to the user that their request encountered a failure.

I'm currently testing exception raising in [this branch](https://github.com/dbcli/mssql-cli/tree/ellbosch/jsonrpc-exception-tests), and have also created a tes

[2019-11-22 22:52] ellbosch opened #362 "Interactive mode crashing"
mssql-cli is crashes from certain keystrokes or commands. The error returns `Unhandled exception in event loop`.

Repro:
- Typing command starting with `dr`
- Pasting?

Tests need to be introduced so we can catch this behavior in the future.

Full stack trace:
[code]

[2019-11-22 23:58] ellbosch opened #364 "Create tests to catch prompt_session breaking"
Issue #362 broke builds without tests catching the issue. We need to introduce tests to catch this.

Follow repro steps in the issue linked above and test on commit [9cb84e21ac50f2082c1c136780b674cb35a0c5d8](https://github.com/dbcli/mssql-cli/commit/9cb84e21ac50f2082c1c136780b674cb35a0c5d8).

[2019-11-23 01:46] #362 closed

[2019-11-28 19:18] linuxunderground opened #370 "Update tar.gz source code"
Hi,

According to [https://pypi.org/project/mssql-cli/](https://pypi.org/project/mssql-cli/), last version of mssql-cli is 0.17.2 currently.

Newer versions were not tagged here : in this repository, last release is 0.15.0.
Can you provide last tar.gz source code here.

Thanks.

--
Vincent

[2019-11-28 22:52] ellbosch opened #371 "JSON RPC client test function needs to be fixed"
The `test_stream_closed_during_process` method does not throw an exception when it should. This issue was not caught because the test method wouldn't raise a failure if the exception block wasn't run (which is expected functionality).

Further investigation is needed to understand why the exception isn't raised.

[2019-11-29 16:49] PY84 opened #373 "Classes Under Wrong Module"
https://github.com/dbcli/mssql-cli/blob/6b7c874343ebc0ce70fa01b399885628b5e9e9e5/mssqlcli/mssql_cli.py#L18

The "PromptSession" and "CompleteStyle" classes are found under the Shortcuts module, not prompt. The current import command will result in error message such as:

This line 18 should be corrected to:

Documentation reference:
[https://python-prompt-toolkit.readthedocs.io/en/stable/pages/ref

[2019-12-02 10:47] zoechi opened #374 "unmet dependency libicuXx"
[code]

[code]

similar to #204

[2019-12-02 19:11] ellbosch commented on #370
Thanks @linuxunderground, we'll try to have this updated soon.

For now I recommend installation via `pip install mssql-cli`, if you can.

[2019-12-02 19:39] ellbosch commented on #374
Thanks for sharing. We need to update our Linux distribution here.

Are you able to install via `pip install mssql-cli` for now? This should unblock you until this gets fixed.

[2019-12-02 19:44] ellbosch commented on #373
Good catch! Just created a PR to fix this.

Thanks for sharing :)

[2019-12-02 20:52] #373 closed

[2019-12-02 20:53] #283 closed

[2019-12-03 05:26] zoechi commented on #374
Thanks for the hint. I'll try.
I'm not blocked by this issue anyway, just wanted to report.

[2019-12-03 22:35] ellbosch opened #376 "Remove command line arg for non-interactive tests"
Use this instead: https://docs.pytest.org/en/2.8.7/usage.html#setting-a-breakpoint-aka-set-trace

[2019-12-04 01:52] ellbosch commented on #376
Turns out this isn't a thing.

[2019-12-04 01:52] #376 closed

[2019-12-04 19:26] ellbosch opened #378 "Add more exception raising to JSON RPC testing"
A test failed expecting a certain exception to catch. Given the current implementation, I'm unsure if no exception was caught or if it was a successful call.

Changes need to be made to the JSON RPC client testing.

[2019-12-04 22:37] ellbosch opened #381 "Move flaky tests to separate build task"
This is to help us get to all green builds passing while flaky tests continue to get fixed. Should help us close #281.

[2019-12-05 19:39] #282 closed

[2019-12-06 10:33] petergeneric commented on #139
It looks like documentation has been added for non-interactive options - the -Q and -i arguments, however the installable version lacks these features (also: there has been no release since July 2018!) Could you do a release with this functionality? It's documented at https://github.com/dbcli/mssql-cli/blob/master/doc/usage_guide.md#non-interactive-options

[2019-12-06 18:17] ellbosch commented on #139
Hi @petergeneric, I've only been publishing official builds to `pip` so far. You can get the latest installation via Python by calling `pip install mssql-cli`.

Where are you currently trying to install from, out of curiosity?

[2019-12-06 18:23] dooliecakes commented on #139
Guys, I just upgraded and tried it out - works like a charm! Thankyou so
much for adding this, it’s a game changer for me.

Shaun

On Fri, Dec 6, 2019 at 10:17 AM Elliot Boschwitz <notifications@github.com>
wrote:

--
null

[2019-12-06 21:14] petergeneric commented on #139
Ah, I'm installing it via this yum repo: https://packages.microsoft.com/config/rhel/7/prod.repo

[2019-12-06 21:23] ellbosch commented on #139
Thanks @petergeneric. Looks like we haven't updated that release in a very long time. We'll have this updated in the near future.

[2019-12-06 21:23] petergeneric commented on #139
That'd be great, thanks!

[2019-12-06 21:46] ellbosch opened #383 "Publish latest release on currently supported Linux distributions"
Some of our releases for Linux haven't been updated in years. We need to update these releases, operationalize the process where possible, and update release docs for how to do it.

Tagging thread in #139.

[2019-12-06 23:59] #288 closed

[2019-12-06 23:59] #289 closed

[2019-12-06 23:59] #290 closed

[2019-12-09 22:57] ellbosch commented on #175
Tasks:
- [ ] tests for multiline
- [ ] update docs

Tests:
- [ ] toggling multiline
- [ ] use of semicolons (with, without, and mismatch)

No plans to support:
- Multi-line queries with multiple `GO`'s.

[2019-12-10 12:16] ePaul commented on #383
Is this why following the [installation guide for Ubuntu](https://github.com/dbcli/mssql-cli/blob/master/doc/installation/linux.md#ubuntu) doesn't work (there is no package `mssql-cli` to install)?

[2019-12-10 13:04] ePaul opened #385 "Install via pip3 doesn't work"
After failing to install this via apt, I tried to use pip to install mssql-cli on my Ubuntu 18.04.

[code]
This installed something without any error, but then
[code]

I tried installing `mssqlcli`, but that is https://github.com/rtrox/mssqlcli, and after that, I still get the same error.

It looks like the `mssql-cli` script is always calling the default `python` binary, which in my system is Pyt

[2019-12-10 18:00] ellbosch commented on #385
Apologies for your installation issues, we do in fact support Python 3.

Take a look at [this thread](https://stackoverflow.com/questions/37341614/modules-are-installed-using-pip-on-osx-but-not-found-when-importing). Looks like this can happen with multiple versions of Python installed.

[2019-12-10 18:21] ellbosch commented on #383
Could be. Haven't had a chance to look yet, but plan to this month.

Moving forward we'll make sure to update all supported packages at a regular cadence.

[2019-12-10 18:50] #381 closed

[2019-12-11 22:44] #385 closed

[2019-12-12 01:12] ellbosch opened #386 "Interactive mode crashes on open quotes and comments"
mssql-cli crashes with `AttributeError: 'QueryExecuteErrorResponseEvent' object has no attribute 'batch_summaries'` whenever a query is attempted with an unfinished quote (i.e. `'open quote`) or comment (i.e. `/* open comment`).

[2019-12-12 01:56] ellbosch commented on #386
Non-issue: only happens in unmerged branch.

[2019-12-12 01:56] #386 closed

[2019-12-12 17:42] #322 closed

[2019-12-13 01:01] ellbosch opened #388 "Setting MSSQL_CLI_OFFICIAL_BUILD to any value seems to revert to True"
I noticed this when I set MSSQL_CLI_OFFICIAL_BUILD to False. It should append a timestamp to wheel files but it didn't in this case. This behavior is equivalent to when this env var is set to True.

[2019-12-13 01:51] #388 closed

[2019-12-13 16:07] ericlathrop opened #393 "`IndexError: list index out of range` for stored procedures"
I get a crash when trying to run a built-in stored procedure:
[code]

[2019-12-13 18:05] ellbosch commented on #393
Sorry about this @ericlathrop, can you provide some more details on your OS and the exact procedure you're attempting to run?

[2019-12-13 18:26] ericlathrop commented on #393
[code]
 I'm trying to run `sp_spaceused`, or `sp_helpdb`

[2019-12-13 18:38] ellbosch commented on #393
I can repro this. Thanks for letting us know! I'll investigate this further.

[2019-12-13 21:06] ellbosch commented on #393
Looks like our implementation to support multiline statements is what's causing the break (#130).

We use `result_set_summary.request_id` as index for query messages but there appears to be a mismatch with the number of messages it's expecting. If I override the index with `0` it works for single-line statements but not when multiline is enabled.

We also need to improve testing to catch queries l

[2019-12-13 21:21] ellbosch commented on #175
Turns out that a bug that's also affecting #393 may be blocking this effort. Various multiline queries are breaking, such as:
[code]

[2019-12-13 23:01] #358 closed

[2019-12-14 02:00] #378 closed

[2019-12-17 04:56] andreesteve commented on #128
@pensivebrian - do you know if SQLClient has rolled out AAD support for .net core since? I am trying to find a link to any upstream issue/worktitem associated to that, do you know which repo it would be in?

[2019-12-18 00:18] ellbosch commented on #231
@anton-johansson I think we have this supported now, please consult our docs for [non-interactive output options](https://github.com/dbcli/mssql-cli/blob/master/doc/usage_guide.md#outputting-a-query-execution-in-non-interactive-mode).

Closing this issue for now but please let me know if this doesn't fall within the scope of your request. Thanks!

[2019-12-18 00:18] #231 closed

[2019-12-18 14:06] giggio commented on #257
This is making us resort to manual installs. 18.04 is an LTS version that has been out for more than an year. Would some of the maintainers of this package please take a look at this?

[2019-12-18 16:40] ellbosch commented on #257
It just so happens I was looking at this yesterday 🙂 will have an update soon!

[2019-12-19 16:19] aashishkoirala opened #398 "Look into making autocomplete easier to understand"
Thanks for this tool, really loving it. I have a question: when I am about to type in a command or query, I get these ghosted hints based on my command history - but I can't figure out how to actually select them - and so i end up having to type over them to entirety. Is there some key combination that I am unaware of?

For example, if in the past I have done a query called `SELECT * FROM Customer

[2019-12-19 16:34] ellbosch commented on #398
Select the right arrow key 🙂

I’ll look into seeing if we can make this more clear!

[2019-12-19 19:10] linuxunderground commented on #370
@ellbosch : pip is not an option for me. My goal is to install mssql-cli with the Gentoo package manager and maintain [mssql-cli ebuild](https://github.com/linuxunderground/gentoo.overlay/tree/master/dev-db/mssql-cli).

[2019-12-19 19:14] ellbosch commented on #370
We recently added support for source distributions with tar.gz in PyPI. Although you still may need to use `pip` to install it. Look for the tar.gz download [here](https://pypi.org/manage/project/mssql-cli/release/0.17.3/). Hopefully this can unblock you for now.

[2019-12-22 16:01] altaurog opened #399 "Option to disable autocomplete"
I’d like to see a way to disable autocomplete altogether, not just smart autocomplete (as discussed in #158 and #162).  I found that setting the `PromptSession` parameter `complete_while_typing=False` does the trick.  Any chance a PR adding a cli option for this would be accepted?

[2019-12-23 10:44] Melandel opened #401 "re.error: bad escape \e"
Hello,

I am using Windows 10 (version 19536.1000) and powershell.

I get this error when writing `\e` in the prompt, and get ejected from the database:

[code]

I tried setting the `$EDITOR` and `$env:EDITOR` variables, but it did not change the visible outcome.

Is there a way I can use an external editor with mssql-cli ?

[2019-12-31 00:00] Melandel commented on #401
Bump!

[2020-01-02 11:51] linuxunderground commented on #370
@ellbosch
Thank you for the 0.17.3 github tag and tar.gz source code release.
Gentoo ebuild updated :-)

[2020-01-02 11:51] #370 closed

[2020-01-03 18:51] ellbosch commented on #401
Sorry for the delay @Melandel—most of us took time off for the holidays. Thanks for bringing this to light, I have validated that this bug also occurs on Mac.

[2020-01-03 18:53] ellbosch commented on #399
Thanks @altaurog, we would gladly accept a PR for this!

[2020-01-03 22:48] ellbosch commented on #281
Closing since we're at 95% pass :)

[2020-01-03 22:48] #281 closed

[2020-01-09 17:54] david-leathers opened #402 "Feature: Option to pass CA Certificate PEM File"
Presently, there is no command line option or environment variable to supply a CA Certificate PEM file. This features is helpful for deployments where certificates may not be supplied by the operating system.

This functionality is also available in other popular database cli tools, such as MySQL and PostgreSQL.

PS- Really like `mssql-cli`; this is an awesome project, keep up the great work! 🙂

[2020-01-10 01:41] ellbosch commented on #402
Makes sense. Thanks for the feedback!

[2020-01-13 18:51] #175 closed

[2020-01-14 19:28] aberezin opened #404 "mssqlclirc not loaded from locations typically expected"
As a developer, I expect mssqlclirc file to load from, by default, $HOME/.mssqlclirc
Instead, it loads from the installation folder unless I explicitly override with  --mssqlclirc.  While I can create an alias to effect this, it is not typical behavior.

[2020-01-15 15:52] Parasrah commented on #128
It looks as if this has since been shipped in [SqlClient 1.0.19239.1](https://github.com/dotnet/SqlClient/blob/master/release-notes/1.0/1.0.19239.1.md). Looking around, it seems lacking AAD support is a deal breaker for a lot of corporate environments

[2020-01-15 16:23] aberezin commented on #404
I just realized that this config is loaded from $HOME/.config/mssqlcli/config which is typical of other apps.  So I would suggest closing this ticket.

[2020-01-15 16:23] #404 closed

[2020-01-15 17:59] ellbosch commented on #383
We need to fix #101 to support Debian.

[2020-01-15 17:59] ellbosch commented on #101
Opening this again as I'm running into issues updating our Debian builds.

[2020-01-16 14:50] akrabat opened #405 "Command line switch for `expand` config value?"
When selecting data using `-Q`, I can't get it to use vertical output if `expand` is set to `auto`.

Is there a way to set the `expand` to `always` not on the command line for the cases when I'm using `-Q` ?

[2020-01-16 17:46] ellbosch commented on #405
We don't have support for this yet—I'll put this in the backlog. Thanks @akrabat!

[2020-01-16 22:28] aberezin commented on #105
Along similar lines. the app does not write errors to the stderr but rather to stdout.  This makes redirecting stdout to a file rather clunky.  I can create a separate ticket for this behavior if it cannot be fixed as part of this ticket.

[2020-01-16 22:42] ellbosch commented on #105
I can make a separate issue @aberezin—thanks for the suggestion here.

[2020-01-16 22:44] ellbosch opened #406 "Write errors to stderr instead of stdout"
As mentioned in #105—we output errors to stdout rather than stderror. We should consider changing this functionality where applicable.

[2020-01-24 01:54] yualan opened #407 "Cannot login to server due to config location on MAC"
On macOS, users cannot connect to a server with mssql-cli due to config location being in unexpected location.

High priority.

[2020-01-24 18:07] yualan opened #408 "Switching databases does not update intellisense"
When I connect to a server in interactive mode and then switch to a database, intellisense is not updated to the new context.

[2020-01-27 19:26] ellbosch commented on #407
@yualan please provide any repro steps and error messages here.

I've also validated that removing the config does not create this issue since mssql-cli creates a new config folder on startup if one isn't present.

[2020-01-29 05:14] yualan opened #409 "Add config option to change GO for executing multi-line query"
Sometimes users want the ability to choose a different indicator for when to execute a multi-line query. Adding a config option to allow a user to change "GO" to ";" for example could be a common use case for someone using both pgcli/mycli with mssql-cli

[2020-02-05 11:20] andreif commented on #212
I get a login timeout when connecting to MSSQL via SSH tunnel and ODBC driver. It works fine connecting directly. Did you find a solution for your issue?

[2020-02-05 15:28] jrglynn2 opened #410 "Documentation says can use -Q or -i, but not seeing in version 0.16.0 on Linux"
Documentation here ( https://github.com/dbcli/mssql-cli/blob/master/doc/usage_guide.md) references the following:
[code]
I do not see this in version 0.16.0, in Linux, and it is not listed in the --help:
[code]
How do I utilize the Non-Interactive Options in Linux, or if it is not available yet, is there an ETA?

Thanks!

--J

[2020-02-05 17:43] nguymin4 commented on #212
No, in the end  I used `https://www.npmjs.com/package/mssql` as CLI tool instead. A bit stupid that way but it works nevertheless.

[2020-02-05 17:43] #212 closed

[2020-02-05 19:25] ellbosch commented on #410
0.16 is out of date—I'm currently working on updating mssql-cli for `apt-get` and `yum`.

In the meantime, you may install mssql-cli using `pip` by calling `pip install mssql-cli`, after installing Python. This will provide you the latest version of mssql-cli which contains `-Q` and `-i`.

[2020-02-05 19:25] #410 closed

[2020-02-07 00:29] ellbosch opened #411 "Horizontal paging should be supported out of the box"
Use Less pager if already installed.

[2020-02-07 01:52] ellbosch opened #412 "Remove sdist from PyPI official upload"
Our sdist needs more work to work universally on any platform. Because `pip` defaults to sdist when wheels fail, it may lead to broken installations of mssql-cli. Therefore we need to remove official uploads of sdists, for now.

[2020-02-10 18:52] ellbosch opened #414 "sdist needs to work on all platforms"
Our current sdist approach only compiles on macOS, which means that installation on Windows breaks (and likely Linux, too). Our sdist needs to work universally. This is a requirement for Homebrew (#83).

[2020-02-12 23:53] #412 closed

[2020-02-13 10:40] ChrisHMobi opened #417 "'MssqlCli' object has no attribute 'sqltoolsclient' on alpine:3.11.3"
I just installed mssql-cli via "pip3 install mssql-cli" by Dockerfile on a docker image based on alpine:3.11.3. I got version 0.17.3. Installation did not complain about anything (downloaded mssqlcli-1.0.4.tar.gz)

About python: /usr/bin/python is symlinked to python3.
Dependencies icu-libs and libunwind are installed one step before via apk

I had to manually create the file "/usr/lib/python3.8/s

[2020-02-19 20:31] #101 closed

[2020-02-19 21:48] #408 closed

[2020-02-19 21:49] ellbosch commented on #407
Should hopefully be fixed with removal of sdist

[2020-02-19 21:49] #407 closed

[2020-02-25 05:21] aberezin-acertus opened #422 "app fails to execute merge statement and reports "A MERGE statement must be terminated by a semi-colon (;).""
Version: 0.18.0
Under bash, using the attached sql file, exec
`mssql-cli -U $user -d $database -S $host -i test-basic-merge.sql`

Get error "A MERGE statement must be terminated by a semi-colon (;)."

This file properly executes using another client, DataGrip.

[test-basic-merge.sql.txt](https://github.com/dbcli/mssql-cli/files/4248168/test-basic-merge.sql.txt)

[2020-02-25 17:39] ellbosch commented on #422
Thanks for posting this—looks like a valid bug to me. I tested this query with Azure Data Studio and it seems to work fine there. I'll take a look at this.

[2020-02-25 18:51] aberezin-acertus commented on #422
Thanks.  It will be a problem for lots of sql command interpreters.  I just logged the same bug with sqlline.  Almost every sql command app uses semicolon for its own parser and then strips it :(

[2020-02-25 21:50] #383 closed

[2020-02-28 20:56] ellbosch commented on #422
@aberezin-acertus I've just proposed a PR to fix this bug. This PR also will add the script you shared to our tests, so hopefully we won't hit this again.

Thanks again for posting this bug! We'll keep you posted when the PR is merged so that you may use an insider version of mssql-cli to unblock you. Expect a stable release to come out sometime March.

[2020-02-29 01:56] ellbosch opened #427 "Add support for 'GO [count]' multiline queries"
`GO [count]` will execute a statement as many times as specified by the parameter. SqlCmd supports this feature ([docs](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/sql-server-utilities-statements-go?view=sql-server-ver15)).

[2020-02-29 01:58] ellbosch opened #428 "Stop using permanent DB for testing"
We're currently using a permanent DB for testing. We need to create temporary DBs when tests run.

Also: use our old SQL server instance.

[2020-03-02 02:37] #422 closed

[2020-03-05 09:58] simon-wessel opened #434 "Can't install recent version using pip in alpine"
Hi,
I'm trying to install mssql-cli version 0.18.0 in my Docker container using python:3.6.10-alpine3.11, but it falls back to version 0.3.0.

Test docker file:
[code]

Error:
[code]

The issue seems to be related to #236.

Kind regards

[2020-03-06 17:11] ellbosch commented on #434
Hi @simon-wessel, this is related to #417—we don't support Alpine yet. What's happening here, I expect at least, is that `pip` is looking back at our older releases which contain source distributions and attempts to use those for installation. Unfortunately this isn't likely to work for your environment.

If you're going the Docker route and are flexible on your Linux environment, I recommend usin

[2020-03-06 17:11] #434 closed

[2020-03-09 02:43] datfinesoul commented on #434
I'm actually running into the same thing, trying to get mssql-cli installed on alpine.  Would be great if this is eventually supported.  I'll post the install commands I used and the final pip show below.

[code]

[2020-03-11 00:49] #343 closed

[2020-03-11 19:13] G0erman opened #437 "mssql-cli broken on latest Windows update--'The system cannot find the file specified.'"
I just connected to a server successful with some specific port:

`mssql-cli -S server_name,port -U user -P password`

But when I try to launch some query, I get the next message:

[code]

mssql-cli version: 0.18.1

[2020-03-13 09:23] altafub commented on #437
I have the same issue on new servers.

`master> select name from sys.databases
Time: 0.555s
The system cannot find the file specified.`

I am using pip install command to install the utility. Tried to install 0.18.0 on the same machine. It uninstalled 0.18.1 first and installed the supplied version. But that doesn't seem to help.

[2020-03-15 18:29] johanwk commented on #411
Hi, I have this problem on Windows 10 with _less_ not being found. I have less installed with Git for Windows, but mssql-cli responds with "The specified path is invalid.".

Advice on getting this to work by adding a precompiled less.exe -- is there a binary somewhere that you would recommend, that could solve this problem?

[2020-03-18 07:26] funcelotwork commented on #252
not found http://archive.ubuntu.com/ubuntu/pool/main/o/openssl1.0/libssl1.0.0_1.0.2n-1ubuntu6_amd64.deb

[2020-03-18 07:30] byroniac commented on #252
@funcelotwork

They have dropped cosmic (18.10) packages since I posted that. You may try digging around on packages.ubuntu.com and see if you can find something else that will work for you, if you are having the problem. I am on 19.10 now but I have not even tried.

[2020-03-18 16:09] ellbosch commented on #252
I'm afraid we don't support 19.04. We support up to 16.04 and have started testing an 18.04 release.

[2020-03-18 17:25] jvillegas74 commented on #437
I have the same issue. whatever I do I get "The system cannot find the file specified."

[2020-03-18 17:27] ellbosch commented on #437
@G0erman, @altafub, and @jvillegas74: what machine is everyone on? How was mssql-cli installed?

[2020-03-18 17:32] jvillegas74 commented on #437
This is Windows 10

[2020-03-18 17:35] ellbosch commented on #437
Thanks. What version of Python are you using? And do you experience the same issue on 0.18.0?

You may install a prior version by calling `python -m pip install mssql-cli==0.18.0`.

[2020-03-18 17:41] jvillegas74 commented on #437
just tried with 0.18.0 and the same as the latest 0.18.1

Using Phyton 3.8.2

[2020-03-18 18:02] ellbosch commented on #437
Can you call `mssql-cli --version` and let me know what you get? Thanks @jvillegas74, I want to rule out that your machine isn't still installing an older version, which has happened before.

[2020-03-18 18:28] jvillegas74 commented on #437
I have tried with 0.18.1 (latest) and 0.18.0 as well as 0.17.0 . All of them same output

Anyway here is the output

Installing collected packages: mssql-cli
  Attempting uninstall: mssql-cli
    Found existing installation: mssql-cli 0.17.0
    Uninstalling mssql-cli-0.17.0:
      Successfully uninstalled mssql-cli-0.17.0
Successfully installed mssql-cli-0.18.0

C:\WINDOWS\system32>mssql-cli --ve

[2020-03-18 23:07] jvillegas74 commented on #437
@ellbosch Any workaround you might recommend ?

[2020-03-18 23:11] ellbosch commented on #437
Unfortunately I'm still unable to repro this issue. However—it would help a lot if you could post your log file here (and a clean set of logs too would be great!).

The logfile is located at `%LOCALAPPDATA%\dbcli\mssqlcli\mssqlcli`.

[2020-03-18 23:15] jvillegas74 commented on #437
[mssqlcli.log](https://github.com/dbcli/mssql-cli/files/4351817/mssqlcli.log)

Here is a clean log

[2020-03-18 23:28] ellbosch commented on #437
Thanks @jvillegas74. Some more questions:
* Did mssql-cli used to work for you or has it always been like this?
* Are you using a standard command line or the Linux Subsystem?
* Is there any other error message in the stack trace that could help for debugging?

[2020-03-18 23:31] jvillegas74 commented on #437
@ellbosch I have installed for first time.
I am using standard command line CMD (as regular user and as Administrator)
![image](https://user-images.githubusercontent.com/15475995/77016774-7426ea00-6957-11ea-8ec6-e402f2922a96.png)

[2020-03-18 23:33] ellbosch commented on #437
Thanks. Can you please return the output for `which mssql-cli`? Perhaps there's a path issue...

[2020-03-18 23:42] jvillegas74 commented on #437
Probably
![image](https://user-images.githubusercontent.com/15475995/77017304-e64bfe80-6958-11ea-8ab0-90c626632ac5.png)
not a Pyton expert

[2020-03-18 23:43] ellbosch commented on #437
Sorry I meant `where mssql-cli`. My apologies!!

[2020-03-18 23:44] jvillegas74 commented on #437
here
![image](https://user-images.githubusercontent.com/15475995/77017451-4e9ae000-6959-11ea-92d3-66c6e018ece4.png)

[2020-03-18 23:48] ellbosch commented on #437
Thanks @jvillegas74. This doesn't look like a path issue.

Are you able to query this database with another tool? I want to ensure this error message is exclusive to mssql-cli and not an issue with your SQL Server instance.

If you don't have another tool installed, I'd recommend [Azure Data Studio](https://docs.microsoft.com/en-us/sql/azure-data-studio/download-azure-data-studio?view=sql-server-v

[2020-03-18 23:50] jvillegas74 commented on #437
yes. I can connect to my localhost running SQL 2019 using SQLCMD, ADS and SSMS with no problem

[2020-03-19 00:15] ellbosch commented on #437
Hmmm... are you possibly using Windows Auth instead of SQL @jvillegas74?

[2020-03-19 00:27] jvillegas74 commented on #437
same thing using SQL Auth
![image](https://user-images.githubusercontent.com/15475995/77019349-31691000-695f-11ea-98c5-268a8c59affa.png)

[2020-03-19 00:29] jvillegas74 commented on #437
No problems with SQLCMD
![image](https://user-images.githubusercontent.com/15475995/77019486-6ecd9d80-695f-11ea-87b4-bf928a4a6977.png)

[2020-03-19 00:33] ellbosch commented on #437
I wish I could repro this :( I'm so sorry this is happening, thanks for all of your help @jvillegas74.

Let me know if you're unblocked by using a really old version, say 0.15.0. If that still doesn't work then there's a good chance we've had this bug since the beginning. I'll keep digging in the meantime.

[2020-03-19 00:38] jvillegas74 commented on #437
Is not the day today ! . this is after installing 0.15.0
![image](https://user-images.githubusercontent.com/15475995/77019930-d46e5980-6960-11ea-9fe7-e05b919de8e8.png)

[2020-03-19 00:47] ellbosch commented on #437
This info still helps in any case! Good to know this bug exists, thanks @jvillegas74.

[2020-03-19 00:50] ellbosch commented on #374
We don't have plans to support Debian 4, so I'm going to close this.

[2020-03-19 00:50] #374 closed

[2020-03-19 03:03] ellbosch commented on #411
@johanwk we're exploring our options at this moment. You may try finding a compiled solution online of less.exe at your own risk, unfortunately we cannot recommend any solution.

[2020-03-19 10:55] johanwk commented on #411
@ellbosch Fully understood -- thank you for the update.

[2020-03-20 15:58] altafub commented on #437
We use Windows 2016 ami provided by AWS. And 0.18.1 doesn't work with ami released after 11th Feb.
So this has to be a windows update thing.

[2020-03-20 16:03] ellbosch commented on #437
Interesting... @altafub are you also using a localhost db like @jvillegas74?

[2020-03-20 16:17] ellbosch commented on #437
Confirmed this is caused by latest Windows update—I'm now able to repro this.

[2020-03-20 16:51] jvillegas74 commented on #437
I can add that I just installed on a new Win 2016 Server (Azure VM) and got the same error connecting to localhost and remote server

[2020-03-20 18:48] jvillegas74 commented on #437
Please share here or by email when the fix is available. looking forward to talk and demo about mssql-cli in my next presentation

[2020-03-20 20:12] ellbosch commented on #437
Will do @jvillegas74, fixing this bug is our top priority.

[2020-03-20 23:22] #437 closed

[2020-03-20 23:27] ellbosch commented on #437
Looks like one of our [dependencies](https://github.com/pallets/click/issues/1501) is the culprit. I'll update the thread when new official bits are out.

[2020-03-21 03:28] ellbosch commented on #437
The fix is out! @jvillegas74 @altafub thanks so much for your help :)

[2020-03-21 12:29] altafub commented on #437
@ellbosch thanks a ton for the prompt response and fixing this. I can confirm this is working now.

[2020-03-22 00:58] jvillegas74 commented on #437
Thanks @ellbosch for the quick response !! is working great now

[2020-03-22 01:04] jvillegas74 commented on #437
thanks @ellbosch for the quick response. it works great !!
which will be the right way to update ?

Alse the installation guide link  from the doc is broken
https://docs.microsoft.com/en-us/sql/tools/mssql-cli?view=sql-server-ver15

[2020-03-23 15:46] ellbosch commented on #437
@jvillegas74 you may view installation docs here: https://github.com/dbcli/mssql-cli/tree/master/doc/installation

Thanks for letting us know about the docs!

[2020-03-23 18:26] ellbosch commented on #437
The Microsoft Docs page is now fixed.

[2020-03-24 18:11] zahid44 commented on #252
use it from here it works somehow but unsure about security risks. Is there any potential risks?

wget http://archive.ubuntu.com/ubuntu/pool/main/o/openssl1.0/libssl1.0.0_1.0.2n-1ubuntu5.3_amd64.deb

[2020-03-24 18:50] byroniac commented on #252
Almost certainly with archived libssl files, I imagine. By definition, they are out of date.

[2020-03-24 18:52] zahid44 commented on #252
but cve has no report :S

[2020-03-28 22:18] Chadiaw opened #442 "echo_via_pager broken on Windows in 7.1"
Calls to `click.echo_via_pager` are failing on Windows since upgrading to 7.1

## Expected behavior (7.0)
[code]

## Actual behavior (7.1)
[code]

## Notes
- Only seems broken on Windows: tested with Ubuntu WSL and click 7.1, works as expected

[2020-03-28 22:20] #442 closed

[2020-03-28 22:42] Chadiaw commented on #442
Closed this since I meant to post the issue in click.

[2020-03-31 19:15] aberezin opened #443 "ODBC style date literals cause parser failure"
The following fails
`mssql-cli -S somehost -U someuser  -Q  'select {d '2050-01-01'}'`

However, the SQL statement runs in, for example, DataGrip connected to the same sqlserver using a jdbcdriver. The sqlserver2019 docs indicate it is a valid date literal (described as ODBC API Specific)
https://docs.microsoft.com/en-us/sql/t-sql/data-types/date-transact-sql?view=sql-server-ver15

Simple workarou

[2020-04-02 02:35] aashishkoirala commented on #398
Wow, just saw this, thanks!

[2020-04-02 02:35] #398 closed

[2020-04-02 08:44] DylanVanAssche opened #444 "Crash when displaying results if `--row-limit` is specified"
# Description

By default, the `row-limit` is set to 1000 rows. According to the docs, you can override or even disable the prompt by specifying `--row-limit` when launching `mssql-cli`.

- `--row-limit 0`: disables the prompt
- `--row-limit <NUMBER>`: changes the default of `1000` to `<NUMBER>`

However, using this feature, a crash occurs when trying to display the rows:

[code]

# Environment

*

[2020-04-02 15:42] ellbosch commented on #444
Thanks @DylanVanAssche, can you let us know what version of mssql-cli you're using by calling `mssql-cli --version`?

[2020-04-02 15:58] ellbosch commented on #443
Thanks @aberezin, I've repro'd this bug on my end. It looks like the bug only shows up in non-interactive mode (using the `-Q` arg), however if you spin up mssql-cli in interactive mode we're able to parse the date correctly. I'll look to fixing this soon.

[2020-04-02 16:01] ellbosch commented on #444
I've repro'd this on our latest version. This is a nasty bug :) sorry about this. The fix looks straightforward.

As a note for us—**we need to improve testing around this feature.**

[2020-04-02 16:06] ellbosch opened #445 "--row-limit doesn't work in non-interactive mode"
Non-interactive mode appears to ignore this setting. We need to add tests to ensure this works.

[2020-04-02 16:06] ellbosch commented on #444
Furthermore, it appears that non-interactive mode doesn't correctly use `--row-limit`. Filing as a separate bug in #445.

[2020-04-02 16:56] DylanVanAssche commented on #444
The latest version from PyPi: `0.18.2`

[2020-04-03 21:24] ellbosch opened #446 "Special package sometimes raises "Command not found""
Example: https://mssqltools.visualstudio.com/cli/_build/results?buildId=59875&view=ms.vss-test-web.build-test-results-tab&runId=1173214&resultId=100204&paneView=debug

Seems to fail on Linux frequently.

[2020-04-06 13:15] jtougas opened #447 "variable declaration with cte"
I'm having trouble declaring a variable and a cte in one statement. This is something that works with `sqlcmd`.

Statement
[code]

sqlcmd
[code]

mssql-cli
[code]

[2020-04-08 00:53] ellbosch commented on #447
I've repro'd the bug on my end. mssql-cli is able to print the scalar value as long as it's not referenced in a CTE.

Thank you @jtougas for letting us know about this bug!

[2020-04-08 16:19] ellbosch commented on #445
Removing because —row-limit is only for interactive mode :)

[2020-04-08 16:19] #445 closed

[2020-04-12 15:50] thorstenkampe opened #451 "Python3 install installs wrapper calling python instead of python3"
[code]
[code]
[code]
All other Python scripts installed via pip in /usr/local/bin refer to python3[.8].

[2020-04-12 20:27] ellbosch commented on #451
@thorstenkampe what OS are you using to install mssql-cli?

[2020-04-12 22:37] #444 closed

[2020-04-13 17:27] thorstenkampe commented on #451
@ellbosch I'm using Ubuntu 18.04

[2020-04-13 17:43] ellbosch commented on #451
As of fairly recently we've published a version to apt-get that should work on Ubuntu 18.04. Best to uninstall mssql-cli first using `pip3 uninstall mssql-cli` and then follow these instructions:
[code]

Please let me know if this resolves your problem.

[2020-04-13 18:24] thorstenkampe commented on #451
Sorry, the packages creates
* its own root directory (/mssql-cli)
* brings its own Python (Python 3.6)
* does not at all integrate with existing Python (3.7.5)
* does not work
[code]

[2020-04-13 18:36] ellbosch commented on #451
Interesting bug there... can you pass along the response you get for calling `arch` in the command line?

FYI—we bundle our own Python version with Ubuntu to prevent potential conflicts with Python dependencies downloaded elsewhere. There may be some issues if you attempt a purist Python installation on Linux.

[2020-04-13 23:40] thorstenkampe commented on #451
I have to correct myself: the distribution is not 18.04 but 19.10, the latest version of Ubuntu.

[2020-04-14 01:55] ellbosch commented on #451
Sorry @thorstenkampe, we don't support 19.10 at this time. Closing this issue.

[2020-04-14 01:55] #451 closed

[2020-04-14 19:49] #280 closed

[2020-04-15 22:41] cjvirtucio87 opened #454 "Option to specify location of configuration directory"
Hi,

Running `mssql-cli` causes it to [create a config directory](https://github.com/dbcli/mssql-cli/blob/0.18.1/mssqlcli/main.py#L33). Unfortunately, it [appears to do so on the home directory](https://github.com/dbcli/mssql-cli/blob/0.18.1/mssqlcli/config.py#L17). This is a little troublesome for us, as we run our capabilities on [OpenShift](https://www.openshift.com/), whose [guidelines](https:

[2020-04-16 05:42] catchsandy opened #455 "Login failed for user 'sa'"
Not able to connect to docker sql server express container thru mssql-cli on mac system
using this command to login mssql-cli -S localhost -U sa -d master -P password

but everytime it is throwing the same error
Login failed for user 'sa'
any input will be highly appreciated

[2020-04-16 10:35] orionJag opened #456 "mssql-cli install fails: Writing more data than expected (66158224 > 66153108)"
Hi
         I know this was working few days back on the newly created Ubuntu 16.04, but currently I'm getting the following msg

  Err:1 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 mssql-cli all 0.18.1-1
          writing more data than expected (66158224 > 66153108)
 E: Failed to fetch https://packages.microsoft.com/ubuntu/16.04/prod/pool/main/m/mssql-cli/mssql-cli-dev-lat

[2020-04-16 13:29] gvanderclay commented on #456
We are also seeing this on our project

[2020-04-16 14:10] orionJag commented on #456
Good to hear, I'm not the only one.

In case, you do not want to be stuck until this's resolved, I used the following tool - no issues here.

https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-ubuntu?view=sql-server-ver15

Thought it would help.

[2020-04-16 14:34] gvanderclay commented on #456
@orionJag Thanks for the reccomendation. We're getting around the issue by using pip to install mssql-cli.
https://github.com/dbcli/mssql-cli/blob/master/doc/installation/pip.md#install-ubuntu--debian--mint

[2020-04-16 17:45] ellbosch commented on #456
This is strange... has this just started to pop up today for you all? Thanks for reporting this.

Does calling `sudo apt-get install -f` fix the problem?

[2020-04-16 19:37] ellbosch commented on #456
We had a server-side issue, this appears to be fixed now. Please let me know if you're able to install again using apt-get.

[2020-04-17 03:06] ellbosch commented on #456
Closing, this appears to be fixed now.

[2020-04-17 03:06] #456 closed

[2020-04-17 12:09] gvanderclay commented on #456
Sweet. Thanks for being responsive @ellbosch 💯

[2020-04-17 22:09] ellbosch commented on #454
Thanks for the suggestion, however I'm still a bit confused with the exact issue for using a home directory. mssql-cli will create a new config if one isn't found, wouldn't this resolve your issue? Forgive me if I'm not understanding the issue perfectly 🙂

[2020-04-17 22:10] ellbosch commented on #455
Sounds like the password is incorrect 🙂 maybe try surrounding the password in quotes?

[2020-04-20 21:01] ellbosch commented on #455
Closing this but please reach out if you're still running into problems.

[2020-04-20 21:01] #455 closed

[2020-04-20 21:21] ellbosch commented on #446
Should be fixed with recent PR #441

[2020-04-20 21:21] #446 closed

[2020-04-20 23:27] ellbosch opened #457 "Logs are too verbose"
Logs jump up in size > 5MB per session. They're too verbose, and some investigation is required to figure out why this is.

[2020-04-22 00:19] aberezin opened #460 "man tmp files (pipe files) created and not deleted"
I am running mssql-cli in a bash script in ubuntu and see hundreds of /tmp/foo files left lying around where foo is like
  clr-debug-pipe-29415-136842019-out
  clr-debug-pipe-29415-136842019-in

They are FIFO pipes I think, created by CLR.

[2020-04-22 01:14] #353 closed

[2020-04-22 15:37] cjvirtucio87 commented on #454
Hi, thanks for the response. `OpenShift` assigns a dynamically generated user to each container that runs on the cluster _at runtime_.  We can't rely on any particular user, nor can we rely on leveraging the user's home directory. Instead, (per their guidelines) we set group ownership on the executables in an arbitrary folder (usually something like `/opt/app`) to the _root group_ (gid `0`), so th

[2020-04-22 21:37] #454 closed

[2020-04-23 08:59] mokadar opened #461 "mssql-cli"

[2020-04-24 23:23] pensivebrian commented on #460
Thanks for reporting this. Can you try setting the following environment variable, and seeing if that prevents the temp files from being created?

`export COMPlus_EnableDiagnostics=0`

If that works, we can roll that into the mssql-cli bootstrap/startup as a permanent fix.

[2020-04-27 18:00] ellbosch opened #465 "Add support for Red Hat 8"
RHEL 8 is supported on both SQL Server 2019 and .NET Core. mssql-cli should in turn add support here.

[2020-04-29 21:19] highlyunavailable opened #469 "on_error not respected in non-interactive mode/exit code is 0"
If I run a file with syntax errors using non-interactive mode, mssql-cli doesn't stop execution after the first error nor does it return a non-zero exit code:

Output looks like:

[code]

[2020-04-29 21:22] ellbosch commented on #469
Hi @highlyunavailable, sorry about this. Can you please provide the following:
* The script used to repro the error
* Your version of mssql-cli (you can get this by calling `mssql-cli —version`)
* Your OS
* Your version of Python, if `pip` was used to install mssql-cli

[2020-04-30 00:49] ellbosch opened #470 "Add support for SUSE Linux Enterprise Server 12"
SLES 12 is supported on both SQL Server and .NET core. It is recommended that mssql-cli adds support for this platform as well.

0.15.0 is the last supported release for SLES 12.

[2020-04-30 02:52] highlyunavailable commented on #469
Any script with invalid syntax works. An example is:

[code]

Save to invalid_example.sql.

Run with:
`mssql-cli --less-chatty -i invalid_example.sql`

I'm providing all server information with environment variables, so add that as appropriate.

Example powershell script to repro:

[code]

This also repros in *interactive* mode:

[code]

My config file has:

[code]

The actual (names obfuscated) c

[2020-05-08 17:35] nicowilliams opened #474 "Use GSS_C_NT_HOSTBASED_SERVICE, not GSS_KRB5_NT_PRINCIPAL_NAME"
Using `GSS_KRB5_NT_PRINCIPAL_NAME`, and setting the realm to anything other than the empty realm, is a recipe for failure in multi-realm environments.

For example, today I had to debug a case involving three realms, let's call them `AD.FOO.EXAMPLE`, `FOO.EXAMPLE`, and `N.FOO.EXAMPLE`, where on a Linux system `[libdefaults] default_realm = N.FOO.EXAMPLE`, and the SQL Server's principal really is `

[2020-05-08 17:36] nicowilliams commented on #474
See https://github.com/FreeTDS/freetds/issues/338.

[2020-05-08 17:46] nicowilliams commented on #474
MIT Kerberos and Heimdal nowadays support `:<port>` in service principal names, too.  FYI.

[2020-05-08 20:53] nicowilliams commented on #474
Hmm, where in this codebase might a fix go?  I couldn't find anything about initiation of GSS security contexts.  There are large binary artifacts in the repo, which is where I imagine the code is.

[2020-05-08 22:00] nicowilliams commented on #474
https://krbdev.mit.edu/rt/Ticket/Display.html?id=8903

[2020-05-09 08:00] MohMehrnia opened #475 "can not install Ubuntu 20.04"
how do install on ubuntu 20.04

[2020-05-11 09:39] pasenor commented on #475
please use pip:
[code]

If you know your way around python, isolating mycli in a separate virtualenv might be a good idea.

[2020-05-12 09:58] maricolm opened #476 "Unable to connect"
use mssql-cli  to connection  Sqlserver2008，no response

[2020-05-14 08:18] KalleOlaviNiemitalo commented on #238
<https://github.com/dotnet/SqlClient/issues/11> has been closed, and it looks like you already moved to Microsoft.Data.SqlClient in <https://github.com/microsoft/sqltoolsservice/pull/865>. Does mssql-cli now support Always Encrypted, then?

[2020-05-14 11:16] DylanVanAssche opened #477 "Crash when cancelling a query"
# Description
The CLI tool crashes when you cancel a query with CTRL+C.

**Traceback**
[code]

# How to reproduce

1. Perform a query
2. Hit CTRL+C during the execution
3. `Cancelling query...` is printed
4. `Query cancelled.` is printed and the tool crashes.

# Environment

**OS**: Ubuntu 20.04 LTS
**Python version**: Python 3.8.2
**Server version**: 15.0.4023.6 Developer Edition 64 bit

[2020-05-14 15:36] caputchinefrobles commented on #460
I can confirm that ```COMPlus_EnableDiagnostics=0``` works preventing clr-debug-pipe files of being created, but it does not prevent *.tmp files. It actually triggered and incident today (full usage of tmp partition) because of these *.tmp files. Is there anyway of preventing these as well?

[2020-05-14 15:46] #475 closed

[2020-05-14 21:44] pensivebrian commented on #238
Not yet, but we're close now that all dependencies support the feature. All I think we need todo is wire up the '-g (enable column encryption)' parameter to set a value in the connection string when connecting to SQL Server. I don't have a timeline, but I'm hoping we can address this soon.

[2020-05-14 21:47] pensivebrian commented on #461
Did you specify the -E option when starting mssql-cli? If so, some more details would help. Could you specify mssql-cli version, error text, python version, and OS platform/distribution?

[2020-05-18 09:26] Emmaka9 commented on #209
Hey can you help me out? I'm using ubuntu 18.04 and mssql-cli version 0.17.3
I also can't scroll horizontally, the output is by default vertical.

[2020-05-18 16:39] meersjo opened #478 "Ubuntu package installs in root"
Using the official repo, the ubuntu package installs most of it's files in /mssql-cli . Proper location would be something along the lines of /usr/share/mssql-cli/ or maybe in /opt .

[2020-05-18 17:24] pensivebrian commented on #209
@Emmaka9  - can you upgrade your mssql-cli version? In the latest version, we added logic to auto-detect if less.exe is available, and use it by default. This means that horizontal scrolling should just work after upgrading.

[2020-05-18 20:19] Emmaka9 commented on #209
@pensivebrian Thanks a lot, it works.
1. Btw I guess horizontal scrolling comes with its own problem, which is if I scroll right to see the remaining part of the table, and then press q, only that part is visible to me.
Or if I press q while the first half is visible to me, then only the first half is visible to me.
I think if the table can be shown in two subsequent parts - one after the other, w

[2020-05-19 17:46] michaelsmoody commented on #83
Good afternoon,

First, thank you. This is great work. It's such a useful tool.

Is there any possibility of movement on a brew formula for this? It would make installation convenient. It seems the last comment was in 2017, though I see the #414 in February 2020....

Thanks,
Michael

[2020-05-19 20:09] chrisg123 commented on #401
This seems to have solved the issue for me.
[code]

Happy to submit a pull request if this is acceptable.

[2020-05-19 20:10] yualan commented on #401
Submitting a PR for this works for me :) @pensivebrian as fyi

[2020-05-22 11:12] KrzysztofKarol opened #480 "Allow multiline query with --query (-Q) parameter"
Hi!

Is it possible to run multiline query as input, e.g.:
[code]
?

Simple example:
[code]

[2020-05-26 12:30] bjhulst opened #481 "Missing max filesize logic for 'mssqlcli.log'"
Hi,

I noticed the .config folder had a 2.3GB mssqlcli.log logfile stored.
-rw-rw-r-- 1 ec2-user ec2-user 2374019714 May 26 03:00 mssqlcli.log

Could we add log filesize handling?
For example not exceeded size 'X' or log file rotation of last 7 days with only 7 files in use?

Logic could be in mssqlcli/mssql_cli.py lines 234-240.

Regards,
Bob

[2020-05-27 23:18] pensivebrian commented on #481
@bjhulst - we fixed this in the latest version using the very mechanism you suggested, a rotation log file in PR https://github.com/dbcli/mssql-cli/pull/458.

[2020-05-27 23:18] #481 closed

[2020-05-27 23:21] pensivebrian commented on #476
Testing on a 2008 service with the latest service packs, I'm not seeing this issue. Can you provide the server version details? I vaguely remember a later SQL 2008 service pack resolves this.

[2020-06-04 20:30] detule commented on #474
I looked into this once (how does their service construct principal names).

I believe it's somewhere in here:

https://github.com/dotnet/corefx/blob/release/2.2/src/System.Data.SqlClient/src/System/Data/SqlClient/SNI/SNIProxy.cs#L344

Good luck.

[2020-06-16 12:33] fraoustin commented on #417
you can see https://hub.docker.com/r/dbcliorg/mssql-cli

[2020-06-19 03:26] auther commented on #212
Me too the same issue without corrected yet.

[2020-06-23 16:37] iinuwa opened #482 "Release on Ubuntu 20.04"
The package for Ubuntu 20.04 is missing. Could the .deb be pushed to the focal repo as well?

[2020-07-05 09:09] airlobster commented on #469
Here is the fix I added to resolve that:
In '**mssql_cli.py**' file, after **line 567** (inside the 'if is_error' block), I added a new line (same indentation):
`raise Exception(status)`

Since I'm mostly using mssql-cli in a non-interactive mode, usually embedded in other scripts, this fix suits my needs perfectly, and I don't mind failing after the first error is encountered, as long as the exit

[2020-07-08 11:06] kstarzyk commented on #408
I experience same issue
1. Connect to host
[code]
2. Switching to different DB
[code]
3. Promp indicates "previous" db but context uses "new" db (`\lt` for instance returns tables from `test_db`);

If I start mssql-cli with `-d` flag it seems fine:
[code]
However `use` command still does not change prompt name

Version 1.0.0

[2020-07-08 11:08] kstarzyk opened #483 "Switching db with `use` does not update db name in prompt"
I experience similar issue to #408
1. Connect to host
[code]
2. Switching to different DB
[code]
3. Promp indicates "previous" db but context uses "new" db (`\lt` for instance returns tables from `test_db`);

If I start mssql-cli with `-d` flag it seems fine:
[code]
However `use` command still does not change prompt name

Version 1.0.0

[2020-07-08 17:42] prescottbreeden commented on #482
are there any active maintainers working on this? or is this a dead product?

[2020-07-15 18:21] jumpnett opened #484 "Update dependencies cli-helpers, prompt-toolkit, and sqlparse."
mssql-cli depends on old version of cli-helpers, prompt-toolkit, and sqlparse, which are incompatible with the newer versions that are required by pgcli 3.0.0.  Is it possible to update these libraries?

`> pip install mssql-cli`
[code]

[2020-07-20 12:03] alierdogan7 commented on #482
Same issue. Cannot get it work on Ubuntu 20.04. Tried 19.10

`sudo apt-add-repository https://packages.microsoft.com/ubuntu/19.10/prod
sudo apt-get update`

but not helped.

`Unable to locate package mssql-cli`

[2020-07-21 18:36] pensivebrian commented on #482
This product is not dead, though it may be a couple months until we can get releasing on Ubuntu 20.04.

[2020-07-23 19:03] esklarski commented on #482
I get:
`The following packages have unmet dependencies:
 mssql-cli : Depends: libicu52 but it is not installable or
                      libicu55 but it is not installable or
                      libicu57 but it is not installable or
                      libicu60 but it is not installable
E: Unable to correct problems, you have held broken packages.`

when I run: `sudo apt install mssql-cli`

[2020-07-28 17:02] jumpnett commented on #482
Is there a work around, until the Ubuntu 20.04 release is ready?

[2020-07-30 01:02] iinuwa commented on #482
Installing with `python3 -m pip install mssql-cli` worked for me; I just had to modify the file placed in `~/bin` to use Python 3, IIRC.

[2020-07-30 15:54] sethcenterbar opened #486 "Application Intent ReadOnly not working"
Running scripts from CentOS host. passing the --application-intent ReadOnly parameter, but the queries are being run against the current master.

[2020-07-30 15:55] caputchinefrobles commented on #460
@sethcenterbar I actually had to come up with a cron job to remove all tmp files but the most recent, which might be still being written.

[2020-07-30 17:22] sethcenterbar commented on #460
Certainly not an ideal scenario. I'm assuming this is just a problem on
linux?

On Thu, Jul 30, 2020 at 11:55 AM Bruno Oliveira <notifications@github.com>
wrote:

[2020-08-11 13:32] maxwell-k commented on #398
I came across this today, it took some time to find that right arrow is what I'm looking for. Although the issue is closed it would be great if the documentation mentioned it.

Thank you for your work on mssql-cli!

[2020-09-02 07:44] simon-budin opened #488 "Connecting to a server with an empty password"
My local server has a user with an empty password. To connect to the server, passing `-P ""` does not work (i.e. the client prompts for Password anyway).
Also setting the environment variable MSSQL_CLI_PASSWORD to "" has the same effect.

Is there a way to pass an empty password without being prompted ?

[2020-09-02 15:29] pjwelsh opened #489 "Minor typo in mssql-cli/doc/installation/linux.md"
https://packages.microsoft.com/config/cenots/8/prod.repo
should be:
https://packages.microsoft.com/config/centos/8/prod.repo

Note the "centos" is misspelled.

[2020-09-02 16:04] pjwelsh opened #490 "Repisitory issue with rhel -vs- centos for the "8" release"
The rhel 8 repo has mssql-tools but not the mssql-cli (at least)
https://packages.microsoft.com/rhel/8/prod/

The centos 8 repo has the mssql-cli but not the mssql-tools (at least)
https://packages.microsoft.com/centos/8/prod/

For rhel 7 repo, both tools and cli are included (but centos is missing tools).

Please fix at least the rhel 8 repo to include both tools and cli.

[2020-09-02 16:20] pjwelsh opened #491 "Typo in microsoft-prod.repo file for rhel 8 (at least)"
File /etc/yum.repos.d/microsoft-prod.repo in packages-microsoft-prod-1.0-1.noarch from rhel 8 repo has a typo:
baseurl=https://packages.microsoft.com/rhel/8.0/prod
This link destination does *not* exist. The ".../8/prod" does.

However, it would be best to use the "$releasever" variable in the microsoft-prod.repo file in order to make it generic across both version 7 and 8. That is one packages-mi

[2020-09-03 13:06] pjwelsh commented on #489
Oops, did not type in the original typo - had the correction twice.

[2020-09-04 11:37] swells commented on #484
+1 on this ask to update dependencies.

Also, now with [Announcement: pip 20.2 release](https://discuss.python.org/t/announcement-pip-20-2-release/4863) and its new dependency resolver which is significantly stricter, more consistent when it receives incompatible instructions, and reduces support for certain kinds of constraints files perhaps will break existing workarounds and workflows that we h

[2020-09-16 12:42] kopax commented on #172
Hello, I am on linux I want to dump a public microsfot express server database, how is that possible? I just tried dbeaver GUI client but it keep complaining during export that I do not have `INSERT` permissions on some table, making me abort the process.

[2020-09-16 15:02] kopax opened #492 "How to install on Debian buster"
My end goal is to dump a Microsoft MSSQL database  from Linux Debian.

I have following the Debian installation guide without success, `apt-get install -f` does not install required dependencies:

[code]

How can I dump a MSSQL server to any format from LINUX?

Thank you.

[2020-09-25 22:45] rodrigoramos opened #493 ""sp_helptext" command should output only the result (without "frame")"
First of all, that's feature request.

When using `sp_helptext` command, it would be better not to print the "frame" (Example 1) where the output of the command is inside of.

Like this:
[code]

Especially when using `-Q` option.

That allow us to use mssql-cli in scripts context because the output would be more "parseable".

[2020-09-30 22:06] digash commented on #243
same message and sqlcmd works too with kerberos auth
[code]

Any pointers?

[2020-10-02 06:12] mertuarez commented on #243
Problem is with credential storing file in environment at. You can have one auth per environment.
If you do authentication before using client it should work.

Another problem should be that you have to use direct port. Port 1433 is not instance port.
All instances have own port. 1433 is used as location service to redirect to correct port.

[code]
bash> ./myscript

I hope this will point you to r

[2020-10-03 02:01] MikeFarrington opened #494 "Windows on ARM support?"
Since SSMS is not available for ARM, I was seeing out alternatives and ran across this.  Of course I can use mssql-cli's x86 installer via emulation, but I've been trying to only use natively compiled applications on my ARM device.  Is there any hope of an ARM64 compilation for Windows on ARM?  I need something lightweight like this to complement Visual Studio Code which is available natively on A

[2020-10-06 17:18] digash commented on #243
Thank you but no luck on Linux. I've tried connecting to different ports but it does not look like it even accepts :port for me. It just treats it as a hostname with colon.
It does work on Windows with -E flag.

[2020-10-10 23:03] darrenpricedcww opened #495 "add support to connect via system managed identity"
unable to find any switch or guidance how to connect to sql utilising a system manged identity.

eg a VM with a system managed identity that has been provide access to the the sql server should be able to connect without need to supply credentials

[2020-10-13 11:30] akrabat opened #496 "Installation via pipx doesn't work"
A merged PR implies that pipx can be used, but it doesn't work for me.

[code]

[2020-10-17 06:12] iateadonut opened #497 "cannot connect to remote server"
I am trying to connect to a remote MS SQL server with mssql-cli, I use this command:

    /usr/local/bin/mssql-cli -S server -U admin -d db -P ****

and i get this error:

    Error message: A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 35 - An internal exception was caught)

However, I am able

[2020-10-17 07:26] nickolay commented on #496
As far as I understand:
* pipx [recommends](https://pipxproject.github.io/pipx/how-pipx-works/) that packages use`entry_points` in their setup.py.
* Yet pipx has some support for `scripts`, namely it symlinks them from the app's virtualenv to `~/.local/bin`
* mssql-cli [uses](https://github.com/dbcli/mssql-cli/blob/5cc7236c11f98d94198d8073cda50dbeeb16c460/setup.py#L63) their own shell `scripts` in

[2020-10-17 07:32] nickolay commented on #496
Oh, the workaround is to change the last line of `~/.local/bin/mssql-cli` to point to the virtualenv's python (on my system it's `~/.local/pipx/venvs/mssql-cli/Scripts/python -m mssqlcli.main "$@"`)

[2020-11-03 09:12] pratio commented on #461
I have the same issue, i am trying to use domain auth but on a mac. Is it possible?

[2020-11-03 22:20] sharpninja commented on #492
Please update libicu to a modern version.  Debian 9 supports libicu63 as a minimum.

[2020-11-05 03:33] jamesbannan commented on #495
@yualan Any thoughts on this one? I've got this exact situation with a customer where we have to use username/password authentication from `mssql-cli` on an Azure VM with an assigned MSI. It would be great (not to mention more secure) to use the MSI.

[2020-11-13 23:55] ubigby opened #498 "not working on debian buster 10"
The following packages have unmet dependencies:
 mssql-cli : Depends: libicu52 but it is not installable or
                      libicu55 but it is not installable or
                      libicu57 but it is not installable or
                      libicu60 but it is not installable

These dependencies arent available and there no documentaton covering debian buster 10, just 8 and 9.

[2020-11-15 00:17] darrenpricedcww commented on #495
using sqlcmd instead

[2020-11-15 00:17] #495 closed

[2020-11-16 21:25] dargor commented on #460
Got bit by this too, after a quick investigation with `strace` I found that these pesky tmp files are created by `MicrosoftSqlToolsServiceLayer`. I see a lot of `open("tmpXXXXXX.tmp")` with corresponding `close` and `unlink`. But `unlink` is sometimes missing (while `close` is present), which cause our problem here.

I do not have the dotnet skills to debug further, and [upstream](https://github.c

[2020-11-18 11:43] rm1984 opened #499 "Not working with Python 3.8"
Hi,
this tool doesn't seem to work with recent versions of Python 3.

[code]

Thanks!

[2020-11-27 00:04] kiran94 opened #500 "Adding Registered Connections (DSN)"
pgcli has the ability to register DSN's within configuration file. See `alias_dsn` in [docs](https://www.pgcli.com/config) and then those can be accessed via the `--list-dsn` and `--dsn` options.

It would useful to have this feature in this tool also.

Apologies if I've missed it.

Thanks

[2020-11-27 15:20] sbreakey opened #501 "type object 'ConnectionRequest' has no attribute 'owner_uri'"
Just installed mssql-cli for the first time, and I am seemingly unable to connect to my DB. Please note that sqlcmd DOES connect to the DB and I am able to query it.
Also note, if I omit the `--enable-sqltoolsservice-logging` argument, the tool provides no output and seemingly hangs.

OS: MacOS Catalina 10.15.7
Python 2.7.16

[code]

[2020-11-28 05:39] sbreakey commented on #501
Running from source works.

[2020-11-28 05:39] #501 closed

[2020-12-02 22:30] iainworkman commented on #461
It looks as if the -E option would be to use the integrated authentication from the client machine. I believe the issue here is with an Sql Server which is authenticating users against the domain. This is certainly the case which I am experiencing.

SQL Server 2016 authenticating against a domain running AD 2016.

The client machine is MacOS Catalina, mssql-cli v1.0.0 running under a Python 3.8.2

[2020-12-03 09:25] mertuarez commented on #243
mssql-cli -S HOST,PORT

Not sure but look how to call specific port

[2020-12-12 19:11] raynerhoward commented on #482
Still not working with Ubuntu 20.04, any idea when this might be added?

[2021-01-23 03:46] ericlathrop commented on #417
I did a `pip install mssql-cli` in my Alpine container, and ended up with version 0.3, which didn't work at all.

[2021-01-27 00:31] pensivebrian commented on #55
Closing with PR #504

[2021-01-27 00:31] #55 closed

[2021-01-27 08:01] mingrw commented on #501
how you solve the issue?

[2021-01-27 23:16] pensivebrian commented on #484
Fixed with PR #504. We'll be pushing out a new release with this fix in the next week or two.

[2021-01-27 23:19] pensivebrian commented on #489
Fixed with PR #485.

[2021-01-27 23:19] #489 closed

[2021-01-27 23:26] pensivebrian commented on #499
Python 3.8 should work. Could you provide some more details so that we can try and reproduce this issue such as:
1. OS version and arch
2. mssql-cli version
3. Output of ``pip freeze`` command.

[2021-01-29 01:54] pensivebrian commented on #494
Definitely doable. This was prototyped awhile back in branch https://github.com/dbcli/mssql-cli/tree/ron/arm_support.

[2021-02-11 00:20] jamesongithub commented on #470
Not sure what this means:

`0.15.0 is the last supported release for SLES 12.`

But it doesn't look like it's working (seems to be available on the sles 12 msft repos)

[code]

`Retrieving package mssql-cli-0.15.0-1.el7.x86_64 `

Looks like this is the rhel package uploaded to the sles repos.

Could we get one for sles12 and sles15?

[2021-02-22 08:43] ljurk commented on #401
Hey, any updates on this issue/PR?  I can confirm that the changes in #479 solve the problem

[2021-02-25 16:45] gsmith077 opened #510 "WSL Ubuntu 20.04: TCP Provider Error: 40 Cannot establish connection."
I'm currently hunting down an error with `mssql-cli` on WSL2 running Ubuntu 20.04 where I am unable to connect to an external (Azure hosted) database. I do have Docker Desktop installed and am using the WSL2 integrations.

- I have tested connections to this database with the old `sqlcmd` utility inside WSL, and that works correctly.
- I can connect to the database using the Azure Data Studio on W

[2021-04-01 09:22] helvete opened #512 "Infinte loop on remote connection"
Since I reinstalled my system to Debian 10 I cannot connect to remote `mssql` server.

When I try to connect to a remote server the process never ends. It produces following trace if killed by `^C`:
[code]
It seems infinite loop is in progress here https://github.com/dbcli/mssql-cli/blob/master/mssqlcli/mssqlcliclient.py#L188 .

I tried mutliple versions of both `python3` and python 2.7, all with

[2021-04-01 10:01] paglop commented on #498
On Debian 10 with python :
=======================================================
-------------------------------------------------------------------------------------------------
install
-------------------------------------------------------------------------------------------------
root@zzzz:~# pip3 install  mssql-cli
...
Successfully installed mssql-cli-1.0.0
root@zzzz:

After modify last lin

[2021-04-09 01:39] mdavis-xyz commented on #105
@apisarenco have you found a way to make your dirty method include the column headers too?

[2021-04-09 23:35] kruser opened #513 "\d not working on Azure Synapse Analytics DB"
I would like to use this against our Azure data warehouse, but `sp_help` doesn't exist there. Is there an alternative to show the table definition?

[code]

[2021-04-12 20:19] kruser commented on #513
FYI, since `sp_columns` does exist, here's what I'm getting by with for now.

[code]

[2021-04-12 23:59] kruser opened #514 "Using as a REPL, don't auto-indent"
I'm using this project in a pane in tmux, with Vim in another using https://github.com/jpalardy/vim-slime.

With all my other interactive shells (python, r, node, psql) there is a way to turn off the auto-indenting as the full indents are in my source files already, and it just becomes a mess when I send over a long query to my mssql-cli window.

Here's what I'm dealing with. The top pane being an

[2021-04-16 12:47] voom commented on #83
Hi guys! I greatly appreciate your work. Thank you for that. Is there any update on the formula for mssql-cli?

[2021-04-27 20:19] dmitry-mightydevops commented on #501
Same issue :) Same question as @sbreakey

[2021-04-27 20:23] dmitry-mightydevops commented on #501
@mingrw
https://github.com/dotnet/core/issues/1930

So for me I'm running fedora, and
[code]

fixed the issue

[2021-05-12 13:19] greenseeker opened #517 "MSSQL_CLI_ROW_LIMIT seems to be ignored in 1.0"
No matter what I set this to, I still get prompted when a query returns 1000+ rows. --row-limit seems to work fine.

[2021-05-23 06:53] danbrad commented on #128
Are there any plans to deliver this? It feels like a fairly fundamental feature that is missing.

[2021-05-24 15:18] JPvRiel opened #518 "Modify mssql-cli bash wrapper to look for and prefer python3"
On Ubuntu 20.04, the following install via pip does not work:

[code]
There are instructions to use a deb package for 18.04, but that's not an option. Related issues:  #505, #482

In the bash wrapper to run this, I noticed python, and not python3, is assumed as the executable at https://github.com/dbcli/mssql-cli/blob/53a7a8a35193b1d2c8c8d85a2cdd7a4c3e3e7409/mssql-cli#L16

Some distributions (at l

[2021-06-11 15:11] leonqli opened #519 "add \lt list table ordered by alphabet"
Please make the command, \lt, to sort table names in alphabet order, otherwise it is hard to find tables if there are many. Thanks!

[2021-06-19 16:51] posguy99 commented on #518
An install on macOS has the same problem, with the additional problem that it apparently assumes `bash` is the user's shell, without checking one way or the other.

[2021-06-20 17:24] hlascelles opened #521 "Click downgrade of pin below 7.1 can be removed"
This application has `click` pinned to below 7.1 because of this issue: https://github.com/dbcli/mssql-cli/issues/437. The pin was done in this PR: https://github.com/dbcli/mssql-cli/pull/440

Since then `click` has issued a fix: https://github.com/pallets/click/pull/1543

We should release the pin on `click`.

In my own case I am seeing conflicts with other apps that do not have the pin. eg [maes

[2021-06-29 17:57] ethan-fox-capsule opened #523 "Error on invocation: "No module named mssqlcli""
Hello, I am on macOS Catalina 10.15.7, trying to use mssql-cli to query a SQL Server DB, I installed using `pip3 install mssql-cli`, but for some reason the CLI thinks it should be pointed at Python 2.7:

[code]

for reference here is the version info of my various relevant commands:

[code]

Any pointers for un-crossing the wires to point at the correct directory on cli startup would be appreciat